intelligent-financial-assistant-workflow.json
{
  "name": "Intelligent Financial Assistant Bot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "callback_query"]
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1 * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Monthly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 900]
    },
    {
      "parameters": {
        "jsCode": "// Route based on input type\nconst item = $input.first().json;\n\nlet route = 'text';\n\nif (item.callback_query) {\n  route = 'callback';\n} else if (item.message?.voice) {\n  route = 'voice';\n} else if (item.message?.photo) {\n  route = 'photo';\n} else if (item.message?.document) {\n  route = 'document';\n} else if (item.message?.text?.startsWith('/validate')) {\n  route = 'validate';\n} else if (item.message?.text?.startsWith('/pay')) {\n  route = 'pay';\n}\n\nreturn [{ json: { ...item, _route: route } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Detect Input Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json._route }}",
              "value2": "callback"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Is Callback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 100]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json._route }}",
              "value2": "voice"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Is Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json._route }}",
              "value2": "photo"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Is Photo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json._route }}",
              "value2": "document"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Is Document?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json._route }}",
              "value2": "validate"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Is Validate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json._route }}",
              "value2": "pay"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Is Pay?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [660, 500]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 100],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{ $json.message.photo ? $json.message.photo[$json.message.photo.length - 1].file_id : '' }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "Get Photo File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 200],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{ $json.message.document.file_id }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000012",
      "name": "Get Document File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.openAiApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "value": "es"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000013",
      "name": "Whisper Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 100],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.openAiApi.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"temperature\": 0.2,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a financial assistant. Extract expense information and return ONLY a valid JSON object with these fields: date (YYYY-MM-DD), vendor, concept, amount (number only), currency, category (Food/Transportation/Utilities/Office/Software/Services/Other), documentType. Use 'Unknown' or 0 for missing fields.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message?.text || $json.text || $json.transcription || '' }}\"\n    }\n  ]\n}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000014",
      "name": "GPT-4o Extract Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 100],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.openAiApi.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"temperature\": 0.2,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a financial document analyzer. Extract expense information from the image description and return ONLY a valid JSON object with: date (YYYY-MM-DD), vendor, concept, amount (number only), currency, category, documentType.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Extract expense data from this document/receipt.\"\n    }\n  ]\n}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000015",
      "name": "GPT-4o Extract Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 250],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse GPT response and prepare data for sheets\nconst response = $input.first().json;\nconst content = response.choices?.[0]?.message?.content || '{}';\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : {};\n}\n\nconst trigger = $('Telegram Trigger').first().json;\n\nreturn [{\n  json: {\n    rowId: Date.now().toString(36) + Math.random().toString(36).substr(2, 9),\n    date: parsed.date || new Date().toISOString().split('T')[0],\n    vendor: parsed.vendor || 'Unknown',\n    concept: parsed.concept || 'Unknown',\n    amount: parsed.amount || 0,\n    currency: parsed.currency || 'USD',\n    category: parsed.category || 'Other',\n    documentType: parsed.documentType || 'Manual Entry',\n    driveLink: 'N/A',\n    status: 'Pending Validation',\n    paymentMethod: '',\n    paymentDate: '',\n    createdAt: new Date().toISOString(),\n    chatId: String(trigger.message?.chat?.id || trigger.callback_query?.message?.chat?.id || '')\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000016",
      "name": "Parse GPT Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 150]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Expense Register",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row ID": "={{ $json.rowId }}",
            "Date": "={{ $json.date }}",
            "Vendor": "={{ $json.vendor }}",
            "Concept": "={{ $json.concept }}",
            "Amount": "={{ $json.amount }}",
            "Currency": "={{ $json.currency }}",
            "Category": "={{ $json.category }}",
            "Document Type": "={{ $json.documentType }}",
            "Drive Link": "={{ $json.driveLink }}",
            "Status": "={{ $json.status }}",
            "Payment Method": "={{ $json.paymentMethod }}",
            "Payment Date": "={{ $json.paymentDate }}",
            "Created At": "={{ $json.createdAt }}",
            "Chat ID": "={{ $json.chatId }}"
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000017",
      "name": "Add to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1540, 150],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "=Expense Recorded!\n\nDate: {{ $json.date }}\nVendor: {{ $json.vendor }}\nAmount: {{ $json.amount }} {{ $json.currency }}\nCategory: {{ $json.category }}\n\nStatus: Pending Validation\n\nUse /validate to approve expenses."
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000018",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1760, 150],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Expense Register",
          "mode": "list"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending Validation"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000019",
      "name": "Get Pending",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [660, 600],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000020",
      "name": "Loop Pending",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, 600]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "=Validate Expense:\n\nID: {{ $json['Row ID'] }}\nDate: {{ $json.Date }}\nVendor: {{ $json.Vendor }}\nAmount: {{ $json.Amount }} {{ $json.Currency }}\n\nReply with:\napprove_{{ $json['Row ID'] }}\nor\nreject_{{ $json['Row ID'] }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000021",
      "name": "Send Validation Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 600],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handle callback data\nconst item = $input.first().json;\nconst data = item.callback_query?.data || item.message?.text || '';\n\nlet action = '';\nlet rowId = '';\n\nif (data.startsWith('approve_')) {\n  action = 'approve';\n  rowId = data.replace('approve_', '');\n} else if (data.startsWith('reject_')) {\n  action = 'reject';\n  rowId = data.replace('reject_', '');\n} else if (data.startsWith('method_')) {\n  const parts = data.split('_');\n  action = 'payment';\n  rowId = parts[2] || '';\n  return [{\n    json: {\n      action,\n      rowId,\n      paymentMethod: parts[1] ? parts[1].charAt(0).toUpperCase() + parts[1].slice(1) : '',\n      chatId: item.callback_query?.message?.chat?.id || item.message?.chat?.id\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    action,\n    rowId,\n    chatId: item.callback_query?.message?.chat?.id || item.message?.chat?.id\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000022",
      "name": "Parse Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "approve"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000023",
      "name": "Is Approve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [880, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "reject"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000024",
      "name": "Is Reject?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "payment"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000025",
      "name": "Is Payment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Expense Register",
          "mode": "list"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Row ID",
              "lookupValue": "={{ $json.rowId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Validated - Pending Payment"
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000026",
      "name": "Update Approved",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1100, -150],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Expense Register",
          "mode": "list"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Row ID",
              "lookupValue": "={{ $json.rowId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Rejected"
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000027",
      "name": "Update Rejected",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1320, -150],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "Expense APPROVED! Use /pay to record payment."
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000028",
      "name": "Confirm Approved",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, -250],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "Expense REJECTED."
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000029",
      "name": "Confirm Rejected",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1540, -150],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Expense Register",
          "mode": "list"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Validated - Pending Payment"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000030",
      "name": "Get Validated",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000031",
      "name": "Loop Validated",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1100, 500]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "=Pay Expense:\n\nID: {{ $json['Row ID'] }}\nVendor: {{ $json.Vendor }}\nAmount: {{ $json.Amount }} {{ $json.Currency }}\n\nReply with:\nmethod_check_{{ $json['Row ID'] }}\nmethod_transfer_{{ $json['Row ID'] }}\nmethod_cash_{{ $json['Row ID'] }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000032",
      "name": "Send Payment Options",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, 500],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Expense Register",
          "mode": "list"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Row ID",
              "lookupValue": "={{ $json.rowId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Paid",
            "Payment Method": "={{ $json.paymentMethod }}",
            "Payment Date": "={{ $now.format('yyyy-MM-dd') }}"
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000033",
      "name": "Update Payment",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1540, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=Payment recorded!\n\nMethod: {{ $json.paymentMethod }}\nDate: {{ $now.format('yyyy-MM-dd') }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000034",
      "name": "Confirm Payment",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1760, 0],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Recurring Config",
          "mode": "list"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000035",
      "name": "Get Recurring",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 900],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000036",
      "name": "Loop Recurring",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 900]
    },
    {
      "parameters": {
        "jsCode": "// Prepare recurring expense\nconst item = $input.first().json;\nconst now = new Date();\n\nreturn [{\n  json: {\n    rowId: 'REC-' + now.toISOString().slice(0,7).replace('-','') + '-' + Math.random().toString(36).substr(2, 9),\n    date: now.toISOString().slice(0,7) + '-01',\n    vendor: item.Service || '',\n    concept: (item.Concept || '') + ' - ' + now.toLocaleString('default', { month: 'long', year: 'numeric' }),\n    amount: item.Amount || 0,\n    currency: item.Currency || 'USD',\n    category: item.Category || 'Other',\n    documentType: 'Recurring',\n    driveLink: 'N/A',\n    status: item.AutoValidate === 'true' ? 'Validated - Pending Payment' : 'Pending Validation',\n    paymentMethod: '',\n    paymentDate: '',\n    createdAt: now.toISOString(),\n    chatId: ''\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000037",
      "name": "Prepare Recurring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 900]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Expense Register",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row ID": "={{ $json.rowId }}",
            "Date": "={{ $json.date }}",
            "Vendor": "={{ $json.vendor }}",
            "Concept": "={{ $json.concept }}",
            "Amount": "={{ $json.amount }}",
            "Currency": "={{ $json.currency }}",
            "Category": "={{ $json.category }}",
            "Document Type": "={{ $json.documentType }}",
            "Drive Link": "={{ $json.driveLink }}",
            "Status": "={{ $json.status }}",
            "Payment Method": "={{ $json.paymentMethod }}",
            "Payment Date": "={{ $json.paymentDate }}",
            "Created At": "={{ $json.createdAt }}",
            "Chat ID": "={{ $json.chatId }}"
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000038",
      "name": "Add Recurring",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 900],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Detect Input Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Input Type": {
      "main": [
        [
          {
            "node": "Is Callback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Callback?": {
      "main": [
        [
          {
            "node": "Parse Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Voice?": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Photo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Photo?": {
      "main": [
        [
          {
            "node": "Get Photo File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Document?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Document?": {
      "main": [
        [
          {
            "node": "Get Document File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Validate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Validate?": {
      "main": [
        [
          {
            "node": "Get Pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Pay?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Pay?": {
      "main": [
        [
          {
            "node": "Get Validated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GPT-4o Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "GPT-4o Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo File": {
      "main": [
        [
          {
            "node": "GPT-4o Extract Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document File": {
      "main": [
        [
          {
            "node": "GPT-4o Extract Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Extract Text": {
      "main": [
        [
          {
            "node": "Parse GPT Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Extract Image": {
      "main": [
        [
          {
            "node": "Parse GPT Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse GPT Response": {
      "main": [
        [
          {
            "node": "Add to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Sheet": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending": {
      "main": [
        [
          {
            "node": "Loop Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Pending": {
      "main": [
        [],
        [
          {
            "node": "Send Validation Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Validation Msg": {
      "main": [
        [
          {
            "node": "Loop Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          {
            "node": "Is Approve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approve?": {
      "main": [
        [
          {
            "node": "Update Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Reject?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Reject?": {
      "main": [
        [
          {
            "node": "Update Rejected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Payment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Payment?": {
      "main": [
        [
          {
            "node": "Update Payment",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update Approved": {
      "main": [
        [
          {
            "node": "Confirm Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Rejected": {
      "main": [
        [
          {
            "node": "Confirm Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Payment": {
      "main": [
        [
          {
            "node": "Confirm Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Validated": {
      "main": [
        [
          {
            "node": "Loop Validated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Validated": {
      "main": [
        [],
        [
          {
            "node": "Send Payment Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Payment Options": {
      "main": [
        [
          {
            "node": "Loop Validated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Schedule": {
      "main": [
        [
          {
            "node": "Get Recurring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recurring": {
      "main": [
        [
          {
            "node": "Loop Recurring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Recurring": {
      "main": [
        [],
        [
          {
            "node": "Prepare Recurring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Recurring": {
      "main": [
        [
          {
            "node": "Add Recurring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Recurring": {
      "main": [
        [
          {
            "node": "Loop Recurring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
