Mail a Img.blueprint (6).json
{
    "name": "Mail a Img",
    "flow": [
        {
            "id": 12,
            "module": "gateway:CustomMailHook",
            "version": 1,
            "parameters": {
                "hook": 1602691,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "quara4"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-mailhook",
                        "label": "Mailhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 6373160
            },
            "mapper": {
                "data": "{{12.attachments[].data}}",
                "select": "value",
                "convert": false,
                "filename": "{{12.attachments[].fileName}}",
                "folderId": "/1rJK3nbmhUWUFpe71m1hPa35uda9eRQrn/1YFu48XnUDnOole8Waq5tIGlsZM4pI51e/1UWVdAyg7y-4E-KseIrvKYpXOQVGfQvSc/1DPZcZGLN8Kp0VKiPXs80zU_V2KqOOGNn",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "CONSULTORIA IA",
                                "Clientes",
                                "QUARA",
                                "img control"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "quara (automatizacionquara@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-drive:getAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 6373160
            },
            "mapper": {
                "file": "{{2.id}}",
                "select": "map",
                "formatDrawings": "image/jpeg",
                "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "formatDrawings": {
                            "label": "JPEG"
                        },
                        "formatDocuments": {
                            "label": "MS Word Document"
                        },
                        "formatSpreadsheets": {
                            "label": "MS Excel"
                        },
                        "formatPresentations": {
                            "label": "MS PowerPoint"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "quara (automatizacionquara@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a File ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "formatDocuments",
                        "type": "select",
                        "label": "Convert Google Documents Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/pdf",
                                "application/vnd.oasis.opendocument.text",
                                "text/html",
                                "text/plain",
                                "application/rtf",
                                "text/markdown"
                            ]
                        }
                    },
                    {
                        "name": "formatSpreadsheets",
                        "type": "select",
                        "label": "Convert Google Spreadsheets Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                "application/pdf",
                                "text/csv"
                            ]
                        }
                    },
                    {
                        "name": "formatPresentations",
                        "type": "select",
                        "label": "Convert Google Slides Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatDrawings",
                        "type": "select",
                        "label": "Convert Google Drawings Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image/jpeg",
                                "image/png",
                                "image/svg+xml",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "text",
                        "label": "File ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "openai-gpt-3:analyzeImages",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6372438
            },
            "mapper": {
                "model": "gpt-4o-mini",
                "top_p": "1",
                "images": [
                    {
                        "imageFileData": "{{3.data}}",
                        "imageUploadType": "imageFile"
                    }
                ],
                "prompt": "Eres un experto en contabilidad digital y tu trabajo es analizar la imagen de un comprobante (factura, ticket, recibo, etc.) para extraer datos financieros relevantes. Tu objetivo es identificar cualquier tipo de gasto o cobro.\r\n\r\nAnaliza la imagen y devuelve **SOLO un objeto JSON válido**. Si algún dato no está disponible, deja el campo vacío (\"\"), sin usar \"null\", \"N/A\" ni otros marcadores. El JSON debe estar perfectamente estructurado y **sin etiquetas adicionales como \"json\" ni comillas invertidas (backticks).**\r\n\r\n**El JSON debe contener exactamente los siguientes campos, en español neutro:**\r\n\r\n{\r\n\"FECHA DEL COBRO\": \"\",\r\n\"SERVICIO / COMERCIO\": \"\",\r\n\"CONCEPTO\": \"\",\r\n\"IMPORTE\": \"\",\r\n\"ID DE TRANSACCION\": \"\",\r\n\"CATEGORIA\": \"\",\r\n\"TIPO DE GASTO\": \"\",\r\n\"ORIGEN DEL COBRO\": \"\"\r\n}\r\n\r\n**Instrucciones específicas para cada campo:**\r\n\r\n1.  **\"FECHA DEL COBRO\":** Extrae la fecha del cobro del documento en formato \"Mes día, Año\" (ej. \"Junio 25, 2025\"). Prioriza la fecha más relevante al cobro. Si solo hay año y mes, incluye el día 1. Si no hay año, asume el año actual (2025).\r\n2.  **\"SERVICIO / COMERCIO\":** Nombre de la empresa, comercio, proveedor o plataforma que realizó el cobro, tal como aparece en el documento (ej. \"Netflix\", \"Uber Eats\", \"Mercadona\").\r\n3.  **\"CONCEPTO\":** Breve descripción del producto o servicio específico por el que se realizó el cobro (ej. \"Inscripción mensual\", \"Dominos Pizza\", \"Vuelo Madrid\", \"Libro Meditacion\", \"Comida\").\r\n4.  **\"IMPORTE\":** Valor numérico total del cargo. **devuelve solo el valor numérico, sin símbolo de monedal(ej.: 1.250,50). al inicio y usa la coma (`,`) como separador decimal** y el punto (`.`) como separador de miles si aplica (ej. \"$12,99\", \"$1.250,50\"). Asume que todos los importes están en Pesos Argentinos.\r\n5.  **\"ID DE TRANSACCION\":** Si aparece un número de referencia, código, ID de transacción, número de pedido o similar en el documento, extráelo aquí.\r\n6.  **\"CATEGORIA\":** Clasifica el gasto en una de las siguientes subcategorías, buscando la más específica. Si no encaja con ninguna, usa \"Misceláneos\".\r\n * `Vivienda y Comunidad`\r\n    * `Servicios Públicos`\r\n    * `Transporte y Vehículos`\r\n    * `Seguros`\r\n    * `Impuestos y Tasas`\r\n    * `Personal y Educación`\r\n    * `Salud y Bienestar`\r\n    * `Consumo y Alimentos`\r\n    * `Otros Gastos`\n\r\n7.  **\"TIPO DE GASTO\":** Define si es un gasto `Único` o `Recurrente`. Los gastos de suscripciones se consideran `Recurrente`. Otros gastos son `Único`.\r\n8.  **\"ORIGEN DEL COBRO\":** Deja este campo vacío (\"\"). Este dato será extraído del email por Make, no del adjunto.\n9. **\"ID INTERNO\":** **devuelve solo el valor numérico.\n.   \r\n**Detección de Idioma y Relevancia:**\r\n* El documento puede estar en español, inglés o italiano. Reconoce el idioma y extrae los datos independientemente de ello.\r\n* Determina si la imagen es verdaderamente un recibo, factura, confirmación de pago o información de suscripción. Si no es un cobro/gasto, o es irrelevante, devuelve un JSON donde la mayoría de los campos estén vacíos. Queremos detectar también los microgastos de suscripciones.\r\n\r\n**Formato de Salida:**\r\n* El output debe ser un único objeto JSON plano.\r\n* **Crucial:** Asegúrate de que el texto final solo contenga el objeto JSON, sin ningún texto introductorio o de cierre.",
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini (system)Fast, affordable small model for focused tasks"
                        },
                        "images": {
                            "mode": "chose",
                            "items": [
                                {
                                    "imageUploadType": {
                                        "mode": "chose",
                                        "label": "Image File"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "images",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "imageUploadType",
                                    "type": "select",
                                    "label": "How would you like to specify an image?",
                                    "options": [
                                        {
                                            "label": "Image URL",
                                            "value": "url",
                                            "nested": [
                                                {
                                                    "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`.",
                                                    "mode": "edit",
                                                    "name": "imageUrl",
                                                    "type": "url",
                                                    "label": "Image URL",
                                                    "mappable": {
                                                        "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`."
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Image File",
                                            "value": "imageFile",
                                            "nested": [
                                                {
                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the __HTTP: Get a file__ module.",
                                                    "name": "imageFileData",
                                                    "type": "buffer",
                                                    "label": "Image File",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Image"
                        },
                        "type": "array",
                        "label": "Images",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {
                                "type": ""
                            },
                            "mapper": {
                                "json": "{{4.result}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "Choose a data structure"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "type": "text",
                                        "label": "JSON string",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6373227
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{formatDate(now; \"DD/MM/YYYY\")}}",
                                    "1": "{{8.`SERVICIO / COMERCIO`}}",
                                    "2": "{{8.CONCEPTO}}",
                                    "3": "{{8.IMPORTE}}",
                                    "5": "Ingresada",
                                    "6": "{{8.CATEGORIA}}",
                                    "8": "{{8.`TIPO DE GASTO`}}",
                                    "9": "{{3.webViewLink}}",
                                    "10": "{{12.from.name}}"
                                },
                                "sheetId": "REGISTRO DE GASTOS",
                                "spreadsheetId": "/1rJK3nbmhUWUFpe71m1hPa35uda9eRQrn/1YFu48XnUDnOole8Waq5tIGlsZM4pI51e/1UWVdAyg7y-4E-KseIrvKYpXOQVGfQvSc/1cRP1qNGmCLpZLqSbA5BLhBfm7PuUSp0R/1qkniJ7GdRCdMRP4QHGVGs8lUCoMoBAZGTypw3y8iKIw",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "REGISTRO DE GASTOS"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "CONSULTORIA IA",
                                                "Clientes",
                                                "QUARA",
                                                "PLANILLA",
                                                "Registro_Gastos_v2"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "FECHA DE INGRESO DEL COMPROBANTE (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "SERVICIO / COMERCIO (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "CONCEPTO (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "IMPORTE (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "ID INTERNO (NO TOCAR) (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "ESTADO (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "CATEGORÍA (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "ID DE TRANSACCIÓN (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "TIPO DE GASTO (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Link de comprobante (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "Usuario Ingreso (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "Visto por Ine (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "Fecha de Vencimiento (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "Forma de pago (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "Envio comprobante s/n (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "Uli/Irina (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "fecha de envio compronante (Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "(AA)"
                                                        },
                                                        {
                                                            "name": "27",
                                                            "type": "text",
                                                            "label": "(AB)"
                                                        },
                                                        {
                                                            "name": "28",
                                                            "type": "text",
                                                            "label": "(AC)"
                                                        },
                                                        {
                                                            "name": "29",
                                                            "type": "text",
                                                            "label": "(AD)"
                                                        },
                                                        {
                                                            "name": "30",
                                                            "type": "text",
                                                            "label": "(AE)"
                                                        },
                                                        {
                                                            "name": "31",
                                                            "type": "text",
                                                            "label": "(AF)"
                                                        },
                                                        {
                                                            "name": "32",
                                                            "type": "text",
                                                            "label": "(AG)"
                                                        },
                                                        {
                                                            "name": "33",
                                                            "type": "text",
                                                            "label": "(AH)"
                                                        },
                                                        {
                                                            "name": "34",
                                                            "type": "text",
                                                            "label": "(AI)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (automatizacionquara@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "FECHA DE INGRESO DEL COMPROBANTE (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "SERVICIO / COMERCIO (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "CONCEPTO (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "IMPORTE (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "ID INTERNO (NO TOCAR) (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "ESTADO (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "CATEGORÍA (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "ID DE TRANSACCIÓN (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "TIPO DE GASTO (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Link de comprobante (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Usuario Ingreso (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "Visto por Ine (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "Fecha de Vencimiento (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "Forma de pago (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "Envio comprobante s/n (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "Uli/Irina (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "fecha de envio compronante (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "(AA)"
                                            },
                                            {
                                                "name": "27",
                                                "type": "text",
                                                "label": "(AB)"
                                            },
                                            {
                                                "name": "28",
                                                "type": "text",
                                                "label": "(AC)"
                                            },
                                            {
                                                "name": "29",
                                                "type": "text",
                                                "label": "(AD)"
                                            },
                                            {
                                                "name": "30",
                                                "type": "text",
                                                "label": "(AE)"
                                            },
                                            {
                                                "name": "31",
                                                "type": "text",
                                                "label": "(AF)"
                                            },
                                            {
                                                "name": "32",
                                                "type": "text",
                                                "label": "(AG)"
                                            },
                                            {
                                                "name": "33",
                                                "type": "text",
                                                "label": "(AH)"
                                            },
                                            {
                                                "name": "34",
                                                "type": "text",
                                                "label": "(AI)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 20,
                            "module": "openai-gpt-3:messageAssistantAdvanced",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 6372438
                            },
                            "mapper": {
                                "role": "user",
                                "message": "{{8.`FECHA DEL COBRO`}}y{{8.IMPORTE}}",
                                "assistantId": "asst_MGkaOVwEQD5jDgGEFfRzd2kb"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "role": {
                                            "label": "User"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "tools": {
                                            "mode": "chose"
                                        },
                                        "image_urls": {
                                            "mode": "chose"
                                        },
                                        "assistantId": {
                                            "mode": "chose",
                                            "label": "Asistente Id_transaccion (gpt-4.1-mini)",
                                            "nested": []
                                        },
                                        "image_files": {
                                            "mode": "chose"
                                        },
                                        "tool_choice": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "truncation_strategy": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "file_search_resources": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "code_interpreter_resources": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "assistantId",
                                        "type": "select",
                                        "label": "Assistant",
                                        "required": true
                                    },
                                    {
                                        "name": "role",
                                        "type": "select",
                                        "label": "Role",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "user",
                                                "assistant"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "threadId",
                                        "type": "text",
                                        "label": "Thread ID"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "select",
                                        "label": "Tools",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "file_search",
                                                "code_interpreter"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "file_search_resources",
                                        "type": "select",
                                        "label": "File Search Resources"
                                    },
                                    {
                                        "name": "code_interpreter_resources",
                                        "type": "select",
                                        "label": "Code Interpreter Resources",
                                        "multiple": true,
                                        "validate": {
                                            "maxItems": 20
                                        }
                                    },
                                    {
                                        "name": "tool_choice",
                                        "type": "select",
                                        "label": "Tool Choice",
                                        "validate": {
                                            "enum": [
                                                "none",
                                                "auto",
                                                "required",
                                                "file_search",
                                                "code_interpreter",
                                                "function"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "instructions",
                                        "type": "text",
                                        "label": "Instructions"
                                    },
                                    {
                                        "name": "max_prompt_tokens",
                                        "type": "uinteger",
                                        "label": "Max Prompt Tokens"
                                    },
                                    {
                                        "name": "max_completion_tokens",
                                        "type": "uinteger",
                                        "label": "Max Completion Tokens"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "auto",
                                                "json_object",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "truncation_strategy",
                                        "type": "select",
                                        "label": "Truncation Strategy",
                                        "validate": {
                                            "enum": [
                                                "auto",
                                                "last_messages"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message",
                                        "required": true
                                    },
                                    {
                                        "name": "image_files",
                                        "type": "select",
                                        "label": "Image Files",
                                        "multiple": true
                                    },
                                    {
                                        "name": "image_urls",
                                        "spec": {
                                            "name": "value",
                                            "type": "url",
                                            "label": "Image URL",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "Image URLs"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 21,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {
                                "type": ""
                            },
                            "filter": {
                                "name": "Con Resultado",
                                "conditions": []
                            },
                            "mapper": {
                                "json": "{{20.result}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2469,
                                    "y": 150
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "Choose a data structure"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "type": "text",
                                        "label": "JSON string",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "id_transaccion\n​",
                                "scope": "roundtrip",
                                "value": "{{21.`ID DE TRANSACCION`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id_transaccion\n​",
                                        "type": "any",
                                        "label": "id_transaccion\n​"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6373227
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "4": "{{13.`ID INTERNO`}}",
                                    "7": "{{21.`ID DE TRANSACCION`}}"
                                },
                                "sheetId": "REGISTRO DE GASTOS",
                                "rowNumber": "{{9.rowNumber}}",
                                "spreadsheetId": "/1rJK3nbmhUWUFpe71m1hPa35uda9eRQrn/1YFu48XnUDnOole8Waq5tIGlsZM4pI51e/1UWVdAyg7y-4E-KseIrvKYpXOQVGfQvSc/1cRP1qNGmCLpZLqSbA5BLhBfm7PuUSp0R/1qkniJ7GdRCdMRP4QHGVGs8lUCoMoBAZGTypw3y8iKIw",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "REGISTRO DE GASTOS"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "CONSULTORIA IA",
                                                "Clientes",
                                                "QUARA",
                                                "PLANILLA",
                                                "Registro_Gastos_v2"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "FECHA DE INGRESO DEL COMPROBANTE (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "SERVICIO / COMERCIO (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "CONCEPTO (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "IMPORTE (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "ID INTERNO (NO TOCAR) (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "ESTADO (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "CATEGORÍA (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "ID DE TRANSACCIÓN (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "TIPO DE GASTO (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Link de comprobante (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "Usuario Ingreso (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "Visto por Ine (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "Fecha de Vencimiento (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "Forma de pago (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "Envio comprobante s/n (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "Uli/Irina (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "fecha de envio compronante (Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "(AA)"
                                                        },
                                                        {
                                                            "name": "27",
                                                            "type": "text",
                                                            "label": "(AB)"
                                                        },
                                                        {
                                                            "name": "28",
                                                            "type": "text",
                                                            "label": "(AC)"
                                                        },
                                                        {
                                                            "name": "29",
                                                            "type": "text",
                                                            "label": "(AD)"
                                                        },
                                                        {
                                                            "name": "30",
                                                            "type": "text",
                                                            "label": "(AE)"
                                                        },
                                                        {
                                                            "name": "31",
                                                            "type": "text",
                                                            "label": "(AF)"
                                                        },
                                                        {
                                                            "name": "32",
                                                            "type": "text",
                                                            "label": "(AG)"
                                                        },
                                                        {
                                                            "name": "33",
                                                            "type": "text",
                                                            "label": "(AH)"
                                                        },
                                                        {
                                                            "name": "34",
                                                            "type": "text",
                                                            "label": "(AI)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (automatizacionquara@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "FECHA DE INGRESO DEL COMPROBANTE (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "SERVICIO / COMERCIO (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "CONCEPTO (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "IMPORTE (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "ID INTERNO (NO TOCAR) (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "ESTADO (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "CATEGORÍA (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "ID DE TRANSACCIÓN (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "TIPO DE GASTO (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Link de comprobante (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Usuario Ingreso (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "Visto por Ine (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "Fecha de Vencimiento (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "Forma de pago (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "Envio comprobante s/n (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "Uli/Irina (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "fecha de envio compronante (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "(AA)"
                                            },
                                            {
                                                "name": "27",
                                                "type": "text",
                                                "label": "(AB)"
                                            },
                                            {
                                                "name": "28",
                                                "type": "text",
                                                "label": "(AC)"
                                            },
                                            {
                                                "name": "29",
                                                "type": "text",
                                                "label": "(AD)"
                                            },
                                            {
                                                "name": "30",
                                                "type": "text",
                                                "label": "(AE)"
                                            },
                                            {
                                                "name": "31",
                                                "type": "text",
                                                "label": "(AF)"
                                            },
                                            {
                                                "name": "32",
                                                "type": "text",
                                                "label": "(AG)"
                                            },
                                            {
                                                "name": "33",
                                                "type": "text",
                                                "label": "(AH)"
                                            },
                                            {
                                                "name": "34",
                                                "type": "text",
                                                "label": "(AI)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 36,
                            "module": "datastore:SearchRecord",
                            "version": 1,
                            "parameters": {
                                "limit": null,
                                "datastore": 61119,
                                "continueWhenNoRes": true
                            },
                            "mapper": {
                                "sort": [],
                                "filter": [
                                    [
                                        {
                                            "a": "id_transaccion",
                                            "b": "{{21.`ID DE TRANSACCION`}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ],
                                "mappAbleLimit": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3497,
                                    "y": 151
                                },
                                "restore": {
                                    "parameters": {
                                        "datastore": {
                                            "label": "QUARA_REGISTROS"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module returns no results"
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://datastore/1.12.1/RpcGetUDTKeys",
                                        "required": true
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "select",
                                                "label": "Key",
                                                "dynamic": true,
                                                "options": [],
                                                "required": true
                                            },
                                            {
                                                "name": "order",
                                                "type": "select",
                                                "label": "Order",
                                                "options": [
                                                    {
                                                        "label": "Ascending",
                                                        "value": 1
                                                    },
                                                    {
                                                        "label": "Descending",
                                                        "value": -1
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "mappAbleLimit",
                                        "type": "uinteger",
                                        "label": "Mappable Limit"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "help": "id de transaccion por factura. Identificador unico y key de la bbdd",
                                                "name": "id_transaccion",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "nro de fila",
                                                "name": "nro de fila",
                                                "type": "number",
                                                "label": null,
                                                "default": null,
                                                "required": false
                                            },
                                            {
                                                "help": "Estado vista por ine",
                                                "name": "Vista por Ine",
                                                "type": "boolean",
                                                "label": null,
                                                "required": false
                                            },
                                            {
                                                "help": "Forma de pago asociada",
                                                "name": "Forma de pago",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "Si fue por captura o no",
                                                "name": "Captura de imagen",
                                                "type": "boolean",
                                                "label": null,
                                                "required": false
                                            },
                                            {
                                                "help": "Importe",
                                                "name": "Importe",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "Servicio",
                                                "name": "Servicio/Comercio",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "Validacion envio comprobante",
                                                "name": "Requiere envio comprobante?",
                                                "type": "boolean",
                                                "label": null,
                                                "required": false
                                            },
                                            {
                                                "help": "recurrente o unico",
                                                "name": "tipo de gasto",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "Fecha asociada a la factura cargada",
                                                "name": "fecha_fc",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "Fecha en la cual fue creado este registro",
                                                "name": "fecha_creacion_registro",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "Cargo comprobante adjunto",
                                                "name": "Adjunto comprobante",
                                                "type": "boolean",
                                                "label": null,
                                                "required": false
                                            },
                                            {
                                                "help": "fecha de ingreso de pago",
                                                "name": "fecha ingreso de pago",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "si fc fue enviada o no ",
                                                "name": "enviado",
                                                "type": "boolean",
                                                "label": null,
                                                "required": false
                                            },
                                            {
                                                "help": "Link de carga google drive",
                                                "name": "Link Archivo",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "Agregar comprobante id ",
                                                "name": "id_comprobante",
                                                "type": "number",
                                                "label": null,
                                                "default": null,
                                                "required": false
                                            },
                                            {
                                                "help": "Link de comprobante",
                                                "name": "link_cte",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "chat id",
                                                "name": "Chat_id",
                                                "type": "number",
                                                "label": null,
                                                "default": null,
                                                "required": false
                                            },
                                            {
                                                "help": "comprobante_cargado",
                                                "name": "Comprobante_Cargado",
                                                "type": "boolean",
                                                "label": null,
                                                "required": false
                                            },
                                            {
                                                "help": "fecha de creacion del id comprobante",
                                                "name": "fecha creacion_cte",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "Confirmo Correo",
                                                "name": "Confirmo Correo?",
                                                "type": "boolean",
                                                "label": null,
                                                "default": true,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null,
                                                "default": null,
                                                "required": false
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 23,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 3900,
                                    "y": 150
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 32,
                                            "module": "datastore:AddRecord",
                                            "version": 1,
                                            "parameters": {
                                                "datastore": 61119
                                            },
                                            "filter": {
                                                "name": "no duplicado",
                                                "conditions": []
                                            },
                                            "mapper": {
                                                "key": "{{21.`ID DE TRANSACCION`}}",
                                                "data": {
                                                    "Chat_id": "",
                                                    "Importe": "{{8.IMPORTE}}",
                                                    "chat_id": "",
                                                    "fecha_fc": "{{8.`FECHA DEL COBRO`}}",
                                                    "link_cte": "",
                                                    "nro de fila": "",
                                                    "Link Archivo": "{{3.webViewLink}}",
                                                    "Forma de pago": "",
                                                    "tipo de gasto": "{{8.`TIPO DE GASTO`}}",
                                                    "id_comprobante": "",
                                                    "id_transaccion": "{{21.`ID DE TRANSACCION`}}",
                                                    "Servicio/Comercio": "{{8.`SERVICIO / COMERCIO`}}",
                                                    "fecha creacion_cte": "",
                                                    "fecha ingreso de pago": "",
                                                    "fecha_creacion_registro": "{{4.created}}"
                                                },
                                                "overwrite": "{{false}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 4241,
                                                    "y": 281
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "data": {
                                                            "nested": {
                                                                "enviado": {
                                                                    "mode": "chose"
                                                                },
                                                                "Vista por Ine": {
                                                                    "mode": "chose"
                                                                },
                                                                "Confirmo Correo?": {
                                                                    "mode": "chose"
                                                                },
                                                                "Captura de imagen": {
                                                                    "mode": "chose"
                                                                },
                                                                "Adjunto comprobante": {
                                                                    "mode": "chose"
                                                                },
                                                                "Comprobante_Cargado": {
                                                                    "mode": "chose"
                                                                },
                                                                "Requiere envio comprobante?": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "overwrite": {
                                                            "mode": "edit"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "QUARA_REGISTROS"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key"
                                                    },
                                                    {
                                                        "name": "overwrite",
                                                        "type": "boolean",
                                                        "label": "Overwrite an existing record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "spec": [
                                                            {
                                                                "name": "id_transaccion",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "nro de fila",
                                                                "type": "number",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Vista por Ine",
                                                                "type": "boolean",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Forma de pago",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Captura de imagen",
                                                                "type": "boolean",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Importe",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Servicio/Comercio",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Requiere envio comprobante?",
                                                                "type": "boolean",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "tipo de gasto",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "fecha_fc",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "fecha_creacion_registro",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Adjunto comprobante",
                                                                "type": "boolean",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "fecha ingreso de pago",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "enviado",
                                                                "type": "boolean",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Link Archivo",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "id_comprobante",
                                                                "type": "number",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "link_cte",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Chat_id",
                                                                "type": "number",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Comprobante_Cargado",
                                                                "type": "boolean",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "fecha creacion_cte",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Confirmo Correo?",
                                                                "type": "boolean",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "chat_id",
                                                                "type": "number",
                                                                "label": null
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 37,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 4541,
                                                            "y": 431
                                                        }
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 33,
                                            "module": "google-email:sendAnEmail",
                                            "version": 4,
                                            "parameters": {
                                                "__IMTCONN__": 6373193
                                            },
                                            "mapper": {
                                                "to": [
                                                    "{{12.from.address}}"
                                                ],
                                                "subject": "Carga Factura",
                                                "bodyType": "collection",
                                                "contents": [
                                                    {
                                                        "text": "Gasto de {{12.from.name}}Registrado\nServicio: {{21.`SERVICIO / COMERCIO`}}{{21.CONCEPTO}}\nImporte: {{8.IMPORTE}}\nId de Transaccion: {{21.`ID DE TRANSACCION`}}\n\n",
                                                        "image": {}
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 4541,
                                                    "y": 131
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "cc": {
                                                            "mode": "chose"
                                                        },
                                                        "to": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "bcc": {
                                                            "mode": "chose"
                                                        },
                                                        "from": {
                                                            "mode": "chose"
                                                        },
                                                        "bodyType": {
                                                            "label": "Collection of contents (text, images, etc.)"
                                                        },
                                                        "contents": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "signature": {
                                                            "mode": "chose"
                                                        },
                                                        "attachments": {
                                                            "mode": "chose"
                                                        },
                                                        "emailHeaders": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google-email"
                                                            },
                                                            "label": "My Gmail connection (automatizacionquara@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google-email",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "to",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true,
                                                            "validate": true
                                                        },
                                                        "type": "array",
                                                        "label": "To",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "subject",
                                                        "type": "text",
                                                        "label": "Subject"
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "rawHtml",
                                                                "collection"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "attachments",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "filename",
                                                                    "type": "filename",
                                                                    "label": "File name",
                                                                    "required": true,
                                                                    "semantic": "file:name"
                                                                },
                                                                {
                                                                    "name": "data",
                                                                    "type": "buffer",
                                                                    "label": "Data",
                                                                    "required": true,
                                                                    "semantic": "file:data"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Attachment"
                                                        },
                                                        "type": "array",
                                                        "label": "Attachments"
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "From"
                                                    },
                                                    {
                                                        "name": "cc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "CC recipients"
                                                    },
                                                    {
                                                        "name": "bcc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "BCC recipients"
                                                    },
                                                    {
                                                        "name": "emailHeaders",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "key",
                                                                    "type": "text",
                                                                    "label": "Key",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Value"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Email header"
                                                        },
                                                        "type": "array",
                                                        "label": "Additional email headers"
                                                    },
                                                    {
                                                        "name": "contents",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "text",
                                                                    "type": "text",
                                                                    "label": "Text"
                                                                },
                                                                {
                                                                    "name": "image",
                                                                    "spec": [
                                                                        {
                                                                            "name": "filename",
                                                                            "type": "filename",
                                                                            "label": "File name",
                                                                            "semantic": "file:name"
                                                                        },
                                                                        {
                                                                            "name": "data",
                                                                            "type": "buffer",
                                                                            "label": "Data",
                                                                            "semantic": "file:data"
                                                                        },
                                                                        {
                                                                            "name": "width",
                                                                            "type": "uinteger",
                                                                            "label": "Width"
                                                                        },
                                                                        {
                                                                            "name": "height",
                                                                            "type": "uinteger",
                                                                            "label": "Height"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Image"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Content"
                                                        },
                                                        "type": "array",
                                                        "label": "Body contents"
                                                    },
                                                    {
                                                        "name": "signature",
                                                        "type": "select",
                                                        "label": "Signature content"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 35,
                                            "module": "util:SetVariable2",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "name": "endstage",
                                                "scope": "roundtrip",
                                                "value": "endstage"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 4800,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "scope": {
                                                            "label": "One cycle"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Variable name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "scope",
                                                        "type": "select",
                                                        "label": "Variable lifetime",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "roundtrip",
                                                                "execution"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Variable value"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "endstage",
                                                        "type": "any",
                                                        "label": "endstage"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 31,
                                            "module": "google-email:sendAnEmail",
                                            "version": 4,
                                            "parameters": {
                                                "__IMTCONN__": 6373193
                                            },
                                            "filter": {
                                                "name": " duplicado",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{36.`__IMTLENGTH__`}}",
                                                            "b": "0",
                                                            "o": "number:greater"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "to": [
                                                    "{{12.from.address}}"
                                                ],
                                                "subject": "Carga Factura Duplicada",
                                                "bodyType": "collection",
                                                "contents": [
                                                    {
                                                        "text": "Gasto Duplicado\n\n​",
                                                        "image": {}
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 4268,
                                                    "y": -27
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "cc": {
                                                            "mode": "chose"
                                                        },
                                                        "to": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "bcc": {
                                                            "mode": "chose"
                                                        },
                                                        "from": {
                                                            "mode": "chose"
                                                        },
                                                        "bodyType": {
                                                            "label": "Collection of contents (text, images, etc.)"
                                                        },
                                                        "contents": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "signature": {
                                                            "mode": "chose"
                                                        },
                                                        "attachments": {
                                                            "mode": "chose"
                                                        },
                                                        "emailHeaders": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google-email"
                                                            },
                                                            "label": "My Gmail connection (automatizacionquara@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google-email",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "to",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true,
                                                            "validate": true
                                                        },
                                                        "type": "array",
                                                        "label": "To",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "subject",
                                                        "type": "text",
                                                        "label": "Subject"
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "rawHtml",
                                                                "collection"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "attachments",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "filename",
                                                                    "type": "filename",
                                                                    "label": "File name",
                                                                    "required": true,
                                                                    "semantic": "file:name"
                                                                },
                                                                {
                                                                    "name": "data",
                                                                    "type": "buffer",
                                                                    "label": "Data",
                                                                    "required": true,
                                                                    "semantic": "file:data"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Attachment"
                                                        },
                                                        "type": "array",
                                                        "label": "Attachments"
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "From"
                                                    },
                                                    {
                                                        "name": "cc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "CC recipients"
                                                    },
                                                    {
                                                        "name": "bcc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "BCC recipients"
                                                    },
                                                    {
                                                        "name": "emailHeaders",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "key",
                                                                    "type": "text",
                                                                    "label": "Key",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Value"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Email header"
                                                        },
                                                        "type": "array",
                                                        "label": "Additional email headers"
                                                    },
                                                    {
                                                        "name": "contents",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "text",
                                                                    "type": "text",
                                                                    "label": "Text"
                                                                },
                                                                {
                                                                    "name": "image",
                                                                    "spec": [
                                                                        {
                                                                            "name": "filename",
                                                                            "type": "filename",
                                                                            "label": "File name",
                                                                            "semantic": "file:name"
                                                                        },
                                                                        {
                                                                            "name": "data",
                                                                            "type": "buffer",
                                                                            "label": "Data",
                                                                            "semantic": "file:data"
                                                                        },
                                                                        {
                                                                            "name": "width",
                                                                            "type": "uinteger",
                                                                            "label": "Width"
                                                                        },
                                                                        {
                                                                            "name": "height",
                                                                            "type": "uinteger",
                                                                            "label": "Height"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Image"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Content"
                                                        },
                                                        "type": "array",
                                                        "label": "Body contents"
                                                    },
                                                    {
                                                        "name": "signature",
                                                        "type": "select",
                                                        "label": "Signature content"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 28,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 6373193
                            },
                            "filter": {
                                "name": "sin resultado",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.result}}",
                                            "b": "NO",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{4.result}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{12.from.address}}"
                                ],
                                "subject": "Imagen",
                                "bodyType": "collection",
                                "contents": [
                                    {
                                        "text": "Imagen no pudo ser procesada, adjunte otra nuevamente",
                                        "image": {}
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "bodyType": {
                                            "label": "Collection of contents (text, images, etc.)"
                                        },
                                        "contents": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "signature": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "My Gmail connection (automatizacionquara@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "CC recipients"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "BCC recipients"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "contents",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "image",
                                                    "spec": [
                                                        {
                                                            "name": "filename",
                                                            "type": "filename",
                                                            "label": "File name",
                                                            "semantic": "file:name"
                                                        },
                                                        {
                                                            "name": "data",
                                                            "type": "buffer",
                                                            "label": "Data",
                                                            "semantic": "file:data"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Image"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Content"
                                        },
                                        "type": "array",
                                        "label": "Body contents"
                                    },
                                    {
                                        "name": "signature",
                                        "type": "select",
                                        "label": "Signature content"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}