Quara_Carga_Comprobantes.blueprint.json
{
    "name": "Quara_Carga_Comprobantes",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1605207,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Quaractes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 39,
            "module": "datastore:SearchRecord",
            "version": 1,
            "parameters": {
                "limit": null,
                "datastore": 62777,
                "continueWhenNoRes": false
            },
            "mapper": {
                "sort": [],
                "filter": [
                    [
                        {
                            "a": "Solicita",
                            "b": "Si",
                            "o": "text:contain:ci"
                        }
                    ]
                ],
                "mappAbleLimit": ""
            },
            "metadata": {
                "designer": {
                    "x": 334,
                    "y": 123,
                    "name": "Trackeamos chat_id para responder a user"
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "CHAT_ID"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module returns no results"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ],
                "expect": [
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://datastore/1.12.1/RpcGetUDTKeys",
                        "required": true
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "key",
                                "type": "select",
                                "label": "Key",
                                "dynamic": true,
                                "options": [],
                                "required": true
                            },
                            {
                                "name": "order",
                                "type": "select",
                                "label": "Order",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": 1
                                    },
                                    {
                                        "label": "Descending",
                                        "value": -1
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "mappAbleLimit",
                        "type": "uinteger",
                        "label": "Mappable Limit"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "help": "chat id ultimo",
                                "name": "CHAT_ID",
                                "type": "number",
                                "label": null,
                                "default": null,
                                "required": false
                            },
                            {
                                "help": "Solicita otro escenario",
                                "name": "Solicita",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        },
        {
            "id": 33,
            "module": "datastore:SearchRecord",
            "version": 1,
            "parameters": {
                "limit": null,
                "datastore": 61119,
                "continueWhenNoRes": true
            },
            "mapper": {
                "sort": [],
                "filter": [
                    [
                        {
                            "a": "Requiere envio comprobante?",
                            "b": "{{true}}",
                            "o": "boolean:equal"
                        },
                        {
                            "a": "enviado",
                            "b": "{{false}}",
                            "o": "boolean:equal"
                        }
                    ]
                ],
                "mappAbleLimit": ""
            },
            "metadata": {
                "designer": {
                    "x": 785,
                    "y": 119,
                    "name": "requiere carga comprobantes?"
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "QUARA_REGISTROS"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module returns no results"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ],
                "expect": [
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://datastore/1.12.1/RpcGetUDTKeys",
                        "required": true
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "key",
                                "type": "select",
                                "label": "Key",
                                "dynamic": true,
                                "options": [],
                                "required": true
                            },
                            {
                                "name": "order",
                                "type": "select",
                                "label": "Order",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": 1
                                    },
                                    {
                                        "label": "Descending",
                                        "value": -1
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "mappAbleLimit",
                        "type": "uinteger",
                        "label": "Mappable Limit"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "help": "id de transaccion por factura. Identificador unico y key de la bbdd",
                                "name": "id_transaccion",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "nro de fila",
                                "name": "nro de fila",
                                "type": "number",
                                "label": null,
                                "default": null,
                                "required": false
                            },
                            {
                                "help": "Estado vista por ine",
                                "name": "Vista por Ine",
                                "type": "boolean",
                                "label": null,
                                "required": false
                            },
                            {
                                "help": "Forma de pago asociada",
                                "name": "Forma de pago",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "Si fue por captura o no",
                                "name": "Captura de imagen",
                                "type": "boolean",
                                "label": null,
                                "required": false
                            },
                            {
                                "help": "Importe",
                                "name": "Importe",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "Servicio",
                                "name": "Servicio/Comercio",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "Validacion envio comprobante",
                                "name": "Requiere envio comprobante?",
                                "type": "boolean",
                                "label": null,
                                "required": false
                            },
                            {
                                "help": "recurrente o unico",
                                "name": "tipo de gasto",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "Fecha asociada a la factura cargada",
                                "name": "fecha_fc",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "Fecha en la cual fue creado este registro",
                                "name": "fecha_creacion_registro",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "Cargo comprobante adjunto",
                                "name": "Adjunto comprobante",
                                "type": "boolean",
                                "label": null,
                                "required": false
                            },
                            {
                                "help": "fecha de ingreso de pago",
                                "name": "fecha ingreso de pago",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "si fc fue enviada o no ",
                                "name": "enviado",
                                "type": "boolean",
                                "label": null,
                                "required": false
                            },
                            {
                                "help": "Link de carga google drive",
                                "name": "Link Archivo",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "Agregar comprobante id ",
                                "name": "id_comprobante",
                                "type": "number",
                                "label": null,
                                "default": null,
                                "required": false
                            },
                            {
                                "help": "Link de comprobante",
                                "name": "link_cte",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "chat id",
                                "name": "Chat_id",
                                "type": "number",
                                "label": null,
                                "default": null,
                                "required": false
                            },
                            {
                                "help": "comprobante_cargado",
                                "name": "Comprobante_Cargado",
                                "type": "boolean",
                                "label": null,
                                "required": false
                            },
                            {
                                "help": "fecha de creacion del id comprobante",
                                "name": "fecha creacion_cte",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "Confirmo Correo",
                                "name": "Confirmo Correo?",
                                "type": "boolean",
                                "label": null,
                                "default": true,
                                "required": false
                            },
                            {
                                "help": "",
                                "name": "ultimo_chat_id",
                                "type": "number",
                                "label": null,
                                "default": null,
                                "required": false
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 34,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 61119
            },
            "mapper": {
                "key": "{{33.data.`Requiere envio comprobante?`}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 1119,
                    "y": 116,
                    "name": "Comprueba comprobante"
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "QUARA_REGISTROS"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "id de transaccion por factura. Identificador unico y key de la bbdd",
                        "name": "id_transaccion",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "nro de fila",
                        "name": "nro de fila",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "Estado vista por ine",
                        "name": "Vista por Ine",
                        "type": "boolean",
                        "label": null,
                        "required": false
                    },
                    {
                        "help": "Forma de pago asociada",
                        "name": "Forma de pago",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "Si fue por captura o no",
                        "name": "Captura de imagen",
                        "type": "boolean",
                        "label": null,
                        "required": false
                    },
                    {
                        "help": "Importe",
                        "name": "Importe",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "Servicio",
                        "name": "Servicio/Comercio",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "Validacion envio comprobante",
                        "name": "Requiere envio comprobante?",
                        "type": "boolean",
                        "label": null,
                        "required": false
                    },
                    {
                        "help": "recurrente o unico",
                        "name": "tipo de gasto",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "Fecha asociada a la factura cargada",
                        "name": "fecha_fc",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "Fecha en la cual fue creado este registro",
                        "name": "fecha_creacion_registro",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "Cargo comprobante adjunto",
                        "name": "Adjunto comprobante",
                        "type": "boolean",
                        "label": null,
                        "required": false
                    },
                    {
                        "help": "fecha de ingreso de pago",
                        "name": "fecha ingreso de pago",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "si fc fue enviada o no ",
                        "name": "enviado",
                        "type": "boolean",
                        "label": null,
                        "required": false
                    },
                    {
                        "help": "Link de carga google drive",
                        "name": "Link Archivo",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "Agregar comprobante id ",
                        "name": "id_comprobante",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "Link de comprobante",
                        "name": "link_cte",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "chat id",
                        "name": "Chat_id",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "comprobante_cargado",
                        "name": "Comprobante_Cargado",
                        "type": "boolean",
                        "label": null,
                        "required": false
                    },
                    {
                        "help": "fecha de creacion del id comprobante",
                        "name": "fecha creacion_cte",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "Confirmo Correo",
                        "name": "Confirmo Correo?",
                        "type": "boolean",
                        "label": null,
                        "default": true,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "ultimo_chat_id",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 150,
                    "name": "FLUJO PENDIENTES DE VISTA INE"
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 16,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "fechadeenviocoprobante",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{34.enviado}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "array": "{{33.`__IMTLENGTH__`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 17,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 6372102
                            },
                            "mapper": {
                                "text": "Factura pendiente de comprobante:\r\n\r\n• Servicio: {{33.data.Importe}} – {{33.data.`Servicio/Comercio`}}\n• Fecha FC: {{33.data.fecha_fc}}\n• ID transacción: {{33.data.id_transaccion}}\r\nLink: {{33.data.`Link Archivo`}}\n\nTocá el botón para cargar el comprobante.\r\n",
                                "chatId": "{{39.data.CHAT_ID}}",
                                "parseMode": "",
                                "replyMarkup": "{\r\n  \"inline_keyboard\": [\r\n    [\r\n      {\r\n        \"text\": \"📎 Cargar comprobante\",\r\n        \"callback_data\": \"comp_file|{{33.data.id_transaccion}}\"\r\n      }\r\n    ]\r\n  ]\r\n}\r\n",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2174,
                                    "y": -13
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "STAGE3"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 42,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 62777
                            },
                            "mapper": {
                                "key": "{{39.data.CHAT_ID}}",
                                "data": {
                                    "CHAT_ID": "",
                                    "Solicita": "."
                                },
                                "upsert": true,
                                "overwriteArrays": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2474,
                                    "y": -13
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "CHAT_ID"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "CHAT_ID",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "Solicita",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 20,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 6372102
                            },
                            "filter": {
                                "name": "No hay pendientes",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{34.enviado}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "No hay más pendientes de envío",
                                "chatId": "{{39.data.CHAT_ID}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2008,
                                    "y": 369
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "STAGE3"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 43,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 62777
                            },
                            "mapper": {
                                "key": "{{39.data.CHAT_ID}}",
                                "data": {
                                    "CHAT_ID": "",
                                    "Solicita": "."
                                },
                                "upsert": true,
                                "overwriteArrays": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2374,
                                    "y": 394
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "CHAT_ID"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "CHAT_ID",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "Solicita",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}