Quara_Revision_Facturas.blueprint (7).json
{
    "name": "Quara_Revision_Facturas",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1599979,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -204,
                    "y": 566
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "QUARAII"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 50,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 181,
                    "y": 551
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 40,
                            "module": "datastore:SearchRecord",
                            "version": 1,
                            "parameters": {
                                "limit": 1,
                                "datastore": 62777,
                                "continueWhenNoRes": false
                            },
                            "mapper": {
                                "sort": [],
                                "filter": [
                                    [
                                        {
                                            "a": "Solicita",
                                            "b": "Si Revision",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ],
                                "mappAbleLimit": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 419,
                                    "y": 308
                                },
                                "restore": {
                                    "parameters": {
                                        "datastore": {
                                            "label": "CHAT_ID"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module returns no results"
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://datastore/1.12.1/RpcGetUDTKeys",
                                        "required": true
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "select",
                                                "label": "Key",
                                                "dynamic": true,
                                                "options": [],
                                                "required": true
                                            },
                                            {
                                                "name": "order",
                                                "type": "select",
                                                "label": "Order",
                                                "options": [
                                                    {
                                                        "label": "Ascending",
                                                        "value": 1
                                                    },
                                                    {
                                                        "label": "Descending",
                                                        "value": -1
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "mappAbleLimit",
                                        "type": "uinteger",
                                        "label": "Mappable Limit"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "help": "chat id ultimo",
                                                "name": "CHAT_ID",
                                                "type": "number",
                                                "label": null,
                                                "default": null,
                                                "required": false
                                            },
                                            {
                                                "help": "Solicita otro escenario",
                                                "name": "Solicita",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 14,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6373227
                            },
                            "filter": {
                                "name": "Solicita Revision",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{40.data.Solicita}}",
                                            "b": "Si Revision",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "filter": [
                                    [
                                        {
                                            "a": "H",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "L",
                                            "b": "",
                                            "o": "text:equal"
                                        }
                                    ]
                                ],
                                "sheetId": "REGISTRO DE GASTOS",
                                "sortOrder": "asc",
                                "spreadsheetId": "1qkniJ7GdRCdMRP4QHGVGs8lUCoMoBAZGTypw3y8iKIw",
                                "tableFirstRow": "A1:CZ1",
                                "includesHeaders": true,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 816,
                                    "y": 229,
                                    "name": "Pendiente de Vistas"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "orderBy": {
                                            "mode": "chose"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "REGISTRO DE GASTOS"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Registro_Gastos_v2"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-CZ"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (automatizacionquara@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "Columna 1 (A)"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "SERVICIO / COMERCIO (B)"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "CONCEPTO (C)"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "IMPORTE (D)"
                                    },
                                    {
                                        "name": "4",
                                        "type": "text",
                                        "label": "ID INTERNO (NO TOCAR) (E)"
                                    },
                                    {
                                        "name": "5",
                                        "type": "text",
                                        "label": "ESTADO (F)"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "CATEGORÍA (G)"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "ID DE TRANSACCIÓN (H)"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "TIPO DE GASTO (I)"
                                    },
                                    {
                                        "name": "9",
                                        "type": "text",
                                        "label": "Link de archivo (J)"
                                    },
                                    {
                                        "name": "10",
                                        "type": "text",
                                        "label": "Usuario Ingreso (K)"
                                    },
                                    {
                                        "name": "11",
                                        "type": "text",
                                        "label": "Visto por Ine (L)"
                                    },
                                    {
                                        "name": "12",
                                        "type": "text",
                                        "label": "Fecha de Vencimiento (M)"
                                    },
                                    {
                                        "name": "13",
                                        "type": "text",
                                        "label": "Forma de pago (N)"
                                    },
                                    {
                                        "name": "14",
                                        "type": "text",
                                        "label": "Fecha de ingreso de pago (O)"
                                    },
                                    {
                                        "name": "15",
                                        "type": "text",
                                        "label": "Envio comprobante s/n (P)"
                                    },
                                    {
                                        "name": "16",
                                        "type": "text",
                                        "label": "Uli/Irina (Q)"
                                    },
                                    {
                                        "name": "17",
                                        "type": "text",
                                        "label": "fecha de envio compronante (R)"
                                    },
                                    {
                                        "name": "18",
                                        "type": "text",
                                        "label": "link comprobante (S)"
                                    },
                                    {
                                        "name": "19",
                                        "type": "text",
                                        "label": "(T)"
                                    },
                                    {
                                        "name": "20",
                                        "type": "text",
                                        "label": "(U)"
                                    },
                                    {
                                        "name": "21",
                                        "type": "text",
                                        "label": "(V)"
                                    },
                                    {
                                        "name": "22",
                                        "type": "text",
                                        "label": "(W)"
                                    },
                                    {
                                        "name": "23",
                                        "type": "text",
                                        "label": "(X)"
                                    },
                                    {
                                        "name": "24",
                                        "type": "text",
                                        "label": "(Y)"
                                    },
                                    {
                                        "name": "25",
                                        "type": "text",
                                        "label": "(Z)"
                                    },
                                    {
                                        "name": "26",
                                        "type": "text",
                                        "label": "(AA)"
                                    },
                                    {
                                        "name": "27",
                                        "type": "text",
                                        "label": "(AB)"
                                    },
                                    {
                                        "name": "28",
                                        "type": "text",
                                        "label": "(AC)"
                                    },
                                    {
                                        "name": "29",
                                        "type": "text",
                                        "label": "(AD)"
                                    },
                                    {
                                        "name": "30",
                                        "type": "text",
                                        "label": "(AE)"
                                    },
                                    {
                                        "name": "31",
                                        "type": "text",
                                        "label": "(AF)"
                                    },
                                    {
                                        "name": "32",
                                        "type": "text",
                                        "label": "(AG)"
                                    },
                                    {
                                        "name": "33",
                                        "type": "text",
                                        "label": "(AH)"
                                    },
                                    {
                                        "name": "34",
                                        "type": "text",
                                        "label": "(AI)"
                                    },
                                    {
                                        "name": "35",
                                        "type": "text",
                                        "label": "(AJ)"
                                    },
                                    {
                                        "name": "36",
                                        "type": "text",
                                        "label": "(AK)"
                                    },
                                    {
                                        "name": "37",
                                        "type": "text",
                                        "label": "(AL)"
                                    },
                                    {
                                        "name": "38",
                                        "type": "text",
                                        "label": "(AM)"
                                    },
                                    {
                                        "name": "39",
                                        "type": "text",
                                        "label": "(AN)"
                                    },
                                    {
                                        "name": "40",
                                        "type": "text",
                                        "label": "(AO)"
                                    },
                                    {
                                        "name": "41",
                                        "type": "text",
                                        "label": "(AP)"
                                    },
                                    {
                                        "name": "42",
                                        "type": "text",
                                        "label": "(AQ)"
                                    },
                                    {
                                        "name": "43",
                                        "type": "text",
                                        "label": "(AR)"
                                    },
                                    {
                                        "name": "44",
                                        "type": "text",
                                        "label": "(AS)"
                                    },
                                    {
                                        "name": "45",
                                        "type": "text",
                                        "label": "(AT)"
                                    },
                                    {
                                        "name": "46",
                                        "type": "text",
                                        "label": "(AU)"
                                    },
                                    {
                                        "name": "47",
                                        "type": "text",
                                        "label": "(AV)"
                                    },
                                    {
                                        "name": "48",
                                        "type": "text",
                                        "label": "(AW)"
                                    },
                                    {
                                        "name": "49",
                                        "type": "text",
                                        "label": "(AX)"
                                    },
                                    {
                                        "name": "50",
                                        "type": "text",
                                        "label": "(AY)"
                                    },
                                    {
                                        "name": "51",
                                        "type": "text",
                                        "label": "(AZ)"
                                    },
                                    {
                                        "name": "52",
                                        "type": "text",
                                        "label": "(BA)"
                                    },
                                    {
                                        "name": "53",
                                        "type": "text",
                                        "label": "(BB)"
                                    },
                                    {
                                        "name": "54",
                                        "type": "text",
                                        "label": "(BC)"
                                    },
                                    {
                                        "name": "55",
                                        "type": "text",
                                        "label": "(BD)"
                                    },
                                    {
                                        "name": "56",
                                        "type": "text",
                                        "label": "(BE)"
                                    },
                                    {
                                        "name": "57",
                                        "type": "text",
                                        "label": "(BF)"
                                    },
                                    {
                                        "name": "58",
                                        "type": "text",
                                        "label": "(BG)"
                                    },
                                    {
                                        "name": "59",
                                        "type": "text",
                                        "label": "(BH)"
                                    },
                                    {
                                        "name": "60",
                                        "type": "text",
                                        "label": "(BI)"
                                    },
                                    {
                                        "name": "61",
                                        "type": "text",
                                        "label": "(BJ)"
                                    },
                                    {
                                        "name": "62",
                                        "type": "text",
                                        "label": "(BK)"
                                    },
                                    {
                                        "name": "63",
                                        "type": "text",
                                        "label": "(BL)"
                                    },
                                    {
                                        "name": "64",
                                        "type": "text",
                                        "label": "(BM)"
                                    },
                                    {
                                        "name": "65",
                                        "type": "text",
                                        "label": "(BN)"
                                    },
                                    {
                                        "name": "66",
                                        "type": "text",
                                        "label": "(BO)"
                                    },
                                    {
                                        "name": "67",
                                        "type": "text",
                                        "label": "(BP)"
                                    },
                                    {
                                        "name": "68",
                                        "type": "text",
                                        "label": "(BQ)"
                                    },
                                    {
                                        "name": "69",
                                        "type": "text",
                                        "label": "(BR)"
                                    },
                                    {
                                        "name": "70",
                                        "type": "text",
                                        "label": "(BS)"
                                    },
                                    {
                                        "name": "71",
                                        "type": "text",
                                        "label": "(BT)"
                                    },
                                    {
                                        "name": "72",
                                        "type": "text",
                                        "label": "(BU)"
                                    },
                                    {
                                        "name": "73",
                                        "type": "text",
                                        "label": "(BV)"
                                    },
                                    {
                                        "name": "74",
                                        "type": "text",
                                        "label": "(BW)"
                                    },
                                    {
                                        "name": "75",
                                        "type": "text",
                                        "label": "(BX)"
                                    },
                                    {
                                        "name": "76",
                                        "type": "text",
                                        "label": "(BY)"
                                    },
                                    {
                                        "name": "77",
                                        "type": "text",
                                        "label": "(BZ)"
                                    },
                                    {
                                        "name": "78",
                                        "type": "text",
                                        "label": "(CA)"
                                    },
                                    {
                                        "name": "79",
                                        "type": "text",
                                        "label": "(CB)"
                                    },
                                    {
                                        "name": "80",
                                        "type": "text",
                                        "label": "(CC)"
                                    },
                                    {
                                        "name": "81",
                                        "type": "text",
                                        "label": "(CD)"
                                    },
                                    {
                                        "name": "82",
                                        "type": "text",
                                        "label": "(CE)"
                                    },
                                    {
                                        "name": "83",
                                        "type": "text",
                                        "label": "(CF)"
                                    },
                                    {
                                        "name": "84",
                                        "type": "text",
                                        "label": "(CG)"
                                    },
                                    {
                                        "name": "85",
                                        "type": "text",
                                        "label": "(CH)"
                                    },
                                    {
                                        "name": "86",
                                        "type": "text",
                                        "label": "(CI)"
                                    },
                                    {
                                        "name": "87",
                                        "type": "text",
                                        "label": "(CJ)"
                                    },
                                    {
                                        "name": "88",
                                        "type": "text",
                                        "label": "(CK)"
                                    },
                                    {
                                        "name": "89",
                                        "type": "text",
                                        "label": "(CL)"
                                    },
                                    {
                                        "name": "90",
                                        "type": "text",
                                        "label": "(CM)"
                                    },
                                    {
                                        "name": "91",
                                        "type": "text",
                                        "label": "(CN)"
                                    },
                                    {
                                        "name": "92",
                                        "type": "text",
                                        "label": "(CO)"
                                    },
                                    {
                                        "name": "93",
                                        "type": "text",
                                        "label": "(CP)"
                                    },
                                    {
                                        "name": "94",
                                        "type": "text",
                                        "label": "(CQ)"
                                    },
                                    {
                                        "name": "95",
                                        "type": "text",
                                        "label": "(CR)"
                                    },
                                    {
                                        "name": "96",
                                        "type": "text",
                                        "label": "(CS)"
                                    },
                                    {
                                        "name": "97",
                                        "type": "text",
                                        "label": "(CT)"
                                    },
                                    {
                                        "name": "98",
                                        "type": "text",
                                        "label": "(CU)"
                                    },
                                    {
                                        "name": "99",
                                        "type": "text",
                                        "label": "(CV)"
                                    },
                                    {
                                        "name": "100",
                                        "type": "text",
                                        "label": "(CW)"
                                    },
                                    {
                                        "name": "101",
                                        "type": "text",
                                        "label": "(CX)"
                                    },
                                    {
                                        "name": "102",
                                        "type": "text",
                                        "label": "(CY)"
                                    },
                                    {
                                        "name": "103",
                                        "type": "text",
                                        "label": "(CZ)"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 21,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "rows",
                                "scope": "roundtrip",
                                "value": "{{14.`__ROW_NUMBER__`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "rows",
                                        "type": "any",
                                        "label": "rows"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 15,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150,
                                    "name": "FLUJO PENDIENTES DE VISTA INE"
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 16,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "Hay Pendientes",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{14.`__IMTLENGTH__`}}",
                                                            "b": "0",
                                                            "o": "number:greater"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "array": "{{21.rows}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 17,
                                            "module": "telegram:SendReplyMessage",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 6372102
                                            },
                                            "filter": {
                                                "name": "haychatid",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{40.key}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "text": "Factura pendiente 👇\r\nServicio: {{14.`1`}}Concepto: {{14.`2`}}\nImporte: {{14.`3`}}\nid_transaccion: {{14.`7`}}\nLink de comprobante:{{14.`9`}}",
                                                "chatId": "{{40.key}}",
                                                "parseMode": "",
                                                "replyMarkup": "{\r\n  \"inline_keyboard\": [\r\n    [\r\n      { \"text\": \"✅ Marcar vista\", \"callback_data\": \"visto:{{14.`7`}}\" }\r\n    ]\r\n  ]\r\n}\r\n",
                                                "messageThreadId": "",
                                                "replyToMessageId": "",
                                                "replyMarkupAssembleType": "reply_markup_enter"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "parseMode": {
                                                            "label": "Empty"
                                                        },
                                                        "disableNotification": {
                                                            "mode": "chose"
                                                        },
                                                        "replyMarkupAssembleType": {
                                                            "label": "Enter the Reply Markup"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "telegram"
                                                            },
                                                            "label": "STAGE3"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:telegram",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "chatId",
                                                        "type": "text",
                                                        "label": "Chat ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "messageThreadId",
                                                        "type": "number",
                                                        "label": "Message Thread ID"
                                                    },
                                                    {
                                                        "name": "parseMode",
                                                        "type": "select",
                                                        "label": "Parse Mode",
                                                        "validate": {
                                                            "enum": [
                                                                "Markdown",
                                                                "HTML"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "disableNotification",
                                                        "type": "boolean",
                                                        "label": "Disable Notifications"
                                                    },
                                                    {
                                                        "name": "disableWebPagePreview",
                                                        "type": "boolean",
                                                        "label": "Disable Link Previews"
                                                    },
                                                    {
                                                        "name": "replyToMessageId",
                                                        "type": "number",
                                                        "label": "Original Message ID"
                                                    },
                                                    {
                                                        "name": "replyMarkupAssembleType",
                                                        "type": "select",
                                                        "label": "Enter/Assemble the Reply Markup Field",
                                                        "validate": {
                                                            "enum": [
                                                                "reply_markup_enter",
                                                                "reply_markup_assemble"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "replyMarkup",
                                                        "type": "text",
                                                        "label": "Reply Markup"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 46,
                                            "module": "datastore:UpdateRecord",
                                            "version": 1,
                                            "parameters": {
                                                "datastore": 62777
                                            },
                                            "mapper": {
                                                "key": "{{40.key}}",
                                                "data": {
                                                    "CHAT_ID": "",
                                                    "Solicita": "."
                                                },
                                                "upsert": true,
                                                "overwriteArrays": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "upsert": {
                                                            "mode": "chose"
                                                        },
                                                        "overwriteArrays": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "CHAT_ID"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "upsert",
                                                        "type": "boolean",
                                                        "label": "Insert missing record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "overwriteArrays",
                                                        "type": "boolean",
                                                        "label": "Overwrite an existing array in the record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "spec": [
                                                            {
                                                                "name": "CHAT_ID",
                                                                "type": "number",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Solicita",
                                                                "type": "text",
                                                                "label": null
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 23,
                                            "module": "builtin:BasicAggregator",
                                            "version": 1,
                                            "parameters": {
                                                "feeder": 14
                                            },
                                            "filter": {
                                                "name": "No hay pendientes",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{14.`__IMTLENGTH__`}}",
                                                            "b": "0",
                                                            "o": "text:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "4": "{{14.`4`}}",
                                                "rows": "{{21.rows}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "extra": {
                                                        "feeder": {
                                                            "label": "Google Sheets - Search Rows [14]"
                                                        },
                                                        "target": {
                                                            "label": "Custom"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "id": 20,
                                            "module": "telegram:SendReplyMessage",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 6372102
                                            },
                                            "filter": {
                                                "name": "haychatid",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{40.key}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "text": "No hay más por revisar pendientes",
                                                "chatId": "{{40.data.CHAT_ID}}",
                                                "parseMode": "",
                                                "replyMarkup": "",
                                                "messageThreadId": "",
                                                "replyToMessageId": "",
                                                "replyMarkupAssembleType": "reply_markup_enter"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "parseMode": {
                                                            "label": "Empty"
                                                        },
                                                        "disableNotification": {
                                                            "mode": "chose"
                                                        },
                                                        "replyMarkupAssembleType": {
                                                            "label": "Enter the Reply Markup"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "telegram"
                                                            },
                                                            "label": "STAGE3"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:telegram",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "chatId",
                                                        "type": "text",
                                                        "label": "Chat ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "messageThreadId",
                                                        "type": "number",
                                                        "label": "Message Thread ID"
                                                    },
                                                    {
                                                        "name": "parseMode",
                                                        "type": "select",
                                                        "label": "Parse Mode",
                                                        "validate": {
                                                            "enum": [
                                                                "Markdown",
                                                                "HTML"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "disableNotification",
                                                        "type": "boolean",
                                                        "label": "Disable Notifications"
                                                    },
                                                    {
                                                        "name": "disableWebPagePreview",
                                                        "type": "boolean",
                                                        "label": "Disable Link Previews"
                                                    },
                                                    {
                                                        "name": "replyToMessageId",
                                                        "type": "number",
                                                        "label": "Original Message ID"
                                                    },
                                                    {
                                                        "name": "replyMarkupAssembleType",
                                                        "type": "select",
                                                        "label": "Enter/Assemble the Reply Markup Field",
                                                        "validate": {
                                                            "enum": [
                                                                "reply_markup_enter",
                                                                "reply_markup_assemble"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "replyMarkup",
                                                        "type": "text",
                                                        "label": "Reply Markup"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 47,
                                            "module": "datastore:UpdateRecord",
                                            "version": 1,
                                            "parameters": {
                                                "datastore": 62777
                                            },
                                            "mapper": {
                                                "key": "{{40.key}}",
                                                "data": {
                                                    "CHAT_ID": "",
                                                    "Solicita": "."
                                                },
                                                "upsert": true,
                                                "overwriteArrays": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "upsert": {
                                                            "mode": "chose"
                                                        },
                                                        "overwriteArrays": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "CHAT_ID"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "upsert",
                                                        "type": "boolean",
                                                        "label": "Insert missing record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "overwriteArrays",
                                                        "type": "boolean",
                                                        "label": "Overwrite an existing array in the record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "spec": [
                                                            {
                                                                "name": "CHAT_ID",
                                                                "type": "number",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Solicita",
                                                                "type": "text",
                                                                "label": null
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 51,
                            "module": "datastore:SearchRecord",
                            "version": 1,
                            "parameters": {
                                "limit": 1,
                                "datastore": 62777,
                                "continueWhenNoRes": false
                            },
                            "mapper": {
                                "sort": [],
                                "filter": [
                                    [
                                        {
                                            "a": "Solicita",
                                            "b": "Si Pagos",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ],
                                "mappAbleLimit": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 468,
                                    "y": 700
                                },
                                "restore": {
                                    "parameters": {
                                        "datastore": {
                                            "label": "CHAT_ID"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module returns no results"
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://datastore/1.12.1/RpcGetUDTKeys",
                                        "required": true
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "select",
                                                "label": "Key",
                                                "dynamic": true,
                                                "options": [],
                                                "required": true
                                            },
                                            {
                                                "name": "order",
                                                "type": "select",
                                                "label": "Order",
                                                "options": [
                                                    {
                                                        "label": "Ascending",
                                                        "value": 1
                                                    },
                                                    {
                                                        "label": "Descending",
                                                        "value": -1
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "mappAbleLimit",
                                        "type": "uinteger",
                                        "label": "Mappable Limit"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "help": "chat id ultimo",
                                                "name": "CHAT_ID",
                                                "type": "number",
                                                "label": null,
                                                "default": null,
                                                "required": false
                                            },
                                            {
                                                "help": "Solicita otro escenario",
                                                "name": "Solicita",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 33,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6373227
                            },
                            "filter": {
                                "name": "Pagos",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{51.data.Solicita}}",
                                            "b": "Si Pagos",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "filter": [
                                    [
                                        {
                                            "a": "H",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "N",
                                            "b": "",
                                            "o": "text:equal"
                                        }
                                    ]
                                ],
                                "sheetId": "REGISTRO DE GASTOS",
                                "sortOrder": "asc",
                                "spreadsheetId": "1qkniJ7GdRCdMRP4QHGVGs8lUCoMoBAZGTypw3y8iKIw",
                                "tableFirstRow": "A1:CZ1",
                                "includesHeaders": true,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 826,
                                    "y": 726,
                                    "name": "Pendiente de Vistas"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "orderBy": {
                                            "mode": "chose"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "REGISTRO DE GASTOS"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Registro_Gastos_v2"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-CZ"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (automatizacionquara@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "Columna 1 (A)"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "SERVICIO / COMERCIO (B)"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "CONCEPTO (C)"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "IMPORTE (D)"
                                    },
                                    {
                                        "name": "4",
                                        "type": "text",
                                        "label": "ID INTERNO (NO TOCAR) (E)"
                                    },
                                    {
                                        "name": "5",
                                        "type": "text",
                                        "label": "ESTADO (F)"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "CATEGORÍA (G)"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "ID DE TRANSACCIÓN (H)"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "TIPO DE GASTO (I)"
                                    },
                                    {
                                        "name": "9",
                                        "type": "text",
                                        "label": "Link de archivo (J)"
                                    },
                                    {
                                        "name": "10",
                                        "type": "text",
                                        "label": "Usuario Ingreso (K)"
                                    },
                                    {
                                        "name": "11",
                                        "type": "text",
                                        "label": "Visto por Ine (L)"
                                    },
                                    {
                                        "name": "12",
                                        "type": "text",
                                        "label": "Fecha de Vencimiento (M)"
                                    },
                                    {
                                        "name": "13",
                                        "type": "text",
                                        "label": "Forma de pago (N)"
                                    },
                                    {
                                        "name": "14",
                                        "type": "text",
                                        "label": "Fecha de ingreso de pago (O)"
                                    },
                                    {
                                        "name": "15",
                                        "type": "text",
                                        "label": "Envio comprobante s/n (P)"
                                    },
                                    {
                                        "name": "16",
                                        "type": "text",
                                        "label": "Uli/Irina (Q)"
                                    },
                                    {
                                        "name": "17",
                                        "type": "text",
                                        "label": "fecha de envio compronante (R)"
                                    },
                                    {
                                        "name": "18",
                                        "type": "text",
                                        "label": "link comprobante (S)"
                                    },
                                    {
                                        "name": "19",
                                        "type": "text",
                                        "label": "(T)"
                                    },
                                    {
                                        "name": "20",
                                        "type": "text",
                                        "label": "(U)"
                                    },
                                    {
                                        "name": "21",
                                        "type": "text",
                                        "label": "(V)"
                                    },
                                    {
                                        "name": "22",
                                        "type": "text",
                                        "label": "(W)"
                                    },
                                    {
                                        "name": "23",
                                        "type": "text",
                                        "label": "(X)"
                                    },
                                    {
                                        "name": "24",
                                        "type": "text",
                                        "label": "(Y)"
                                    },
                                    {
                                        "name": "25",
                                        "type": "text",
                                        "label": "(Z)"
                                    },
                                    {
                                        "name": "26",
                                        "type": "text",
                                        "label": "(AA)"
                                    },
                                    {
                                        "name": "27",
                                        "type": "text",
                                        "label": "(AB)"
                                    },
                                    {
                                        "name": "28",
                                        "type": "text",
                                        "label": "(AC)"
                                    },
                                    {
                                        "name": "29",
                                        "type": "text",
                                        "label": "(AD)"
                                    },
                                    {
                                        "name": "30",
                                        "type": "text",
                                        "label": "(AE)"
                                    },
                                    {
                                        "name": "31",
                                        "type": "text",
                                        "label": "(AF)"
                                    },
                                    {
                                        "name": "32",
                                        "type": "text",
                                        "label": "(AG)"
                                    },
                                    {
                                        "name": "33",
                                        "type": "text",
                                        "label": "(AH)"
                                    },
                                    {
                                        "name": "34",
                                        "type": "text",
                                        "label": "(AI)"
                                    },
                                    {
                                        "name": "35",
                                        "type": "text",
                                        "label": "(AJ)"
                                    },
                                    {
                                        "name": "36",
                                        "type": "text",
                                        "label": "(AK)"
                                    },
                                    {
                                        "name": "37",
                                        "type": "text",
                                        "label": "(AL)"
                                    },
                                    {
                                        "name": "38",
                                        "type": "text",
                                        "label": "(AM)"
                                    },
                                    {
                                        "name": "39",
                                        "type": "text",
                                        "label": "(AN)"
                                    },
                                    {
                                        "name": "40",
                                        "type": "text",
                                        "label": "(AO)"
                                    },
                                    {
                                        "name": "41",
                                        "type": "text",
                                        "label": "(AP)"
                                    },
                                    {
                                        "name": "42",
                                        "type": "text",
                                        "label": "(AQ)"
                                    },
                                    {
                                        "name": "43",
                                        "type": "text",
                                        "label": "(AR)"
                                    },
                                    {
                                        "name": "44",
                                        "type": "text",
                                        "label": "(AS)"
                                    },
                                    {
                                        "name": "45",
                                        "type": "text",
                                        "label": "(AT)"
                                    },
                                    {
                                        "name": "46",
                                        "type": "text",
                                        "label": "(AU)"
                                    },
                                    {
                                        "name": "47",
                                        "type": "text",
                                        "label": "(AV)"
                                    },
                                    {
                                        "name": "48",
                                        "type": "text",
                                        "label": "(AW)"
                                    },
                                    {
                                        "name": "49",
                                        "type": "text",
                                        "label": "(AX)"
                                    },
                                    {
                                        "name": "50",
                                        "type": "text",
                                        "label": "(AY)"
                                    },
                                    {
                                        "name": "51",
                                        "type": "text",
                                        "label": "(AZ)"
                                    },
                                    {
                                        "name": "52",
                                        "type": "text",
                                        "label": "(BA)"
                                    },
                                    {
                                        "name": "53",
                                        "type": "text",
                                        "label": "(BB)"
                                    },
                                    {
                                        "name": "54",
                                        "type": "text",
                                        "label": "(BC)"
                                    },
                                    {
                                        "name": "55",
                                        "type": "text",
                                        "label": "(BD)"
                                    },
                                    {
                                        "name": "56",
                                        "type": "text",
                                        "label": "(BE)"
                                    },
                                    {
                                        "name": "57",
                                        "type": "text",
                                        "label": "(BF)"
                                    },
                                    {
                                        "name": "58",
                                        "type": "text",
                                        "label": "(BG)"
                                    },
                                    {
                                        "name": "59",
                                        "type": "text",
                                        "label": "(BH)"
                                    },
                                    {
                                        "name": "60",
                                        "type": "text",
                                        "label": "(BI)"
                                    },
                                    {
                                        "name": "61",
                                        "type": "text",
                                        "label": "(BJ)"
                                    },
                                    {
                                        "name": "62",
                                        "type": "text",
                                        "label": "(BK)"
                                    },
                                    {
                                        "name": "63",
                                        "type": "text",
                                        "label": "(BL)"
                                    },
                                    {
                                        "name": "64",
                                        "type": "text",
                                        "label": "(BM)"
                                    },
                                    {
                                        "name": "65",
                                        "type": "text",
                                        "label": "(BN)"
                                    },
                                    {
                                        "name": "66",
                                        "type": "text",
                                        "label": "(BO)"
                                    },
                                    {
                                        "name": "67",
                                        "type": "text",
                                        "label": "(BP)"
                                    },
                                    {
                                        "name": "68",
                                        "type": "text",
                                        "label": "(BQ)"
                                    },
                                    {
                                        "name": "69",
                                        "type": "text",
                                        "label": "(BR)"
                                    },
                                    {
                                        "name": "70",
                                        "type": "text",
                                        "label": "(BS)"
                                    },
                                    {
                                        "name": "71",
                                        "type": "text",
                                        "label": "(BT)"
                                    },
                                    {
                                        "name": "72",
                                        "type": "text",
                                        "label": "(BU)"
                                    },
                                    {
                                        "name": "73",
                                        "type": "text",
                                        "label": "(BV)"
                                    },
                                    {
                                        "name": "74",
                                        "type": "text",
                                        "label": "(BW)"
                                    },
                                    {
                                        "name": "75",
                                        "type": "text",
                                        "label": "(BX)"
                                    },
                                    {
                                        "name": "76",
                                        "type": "text",
                                        "label": "(BY)"
                                    },
                                    {
                                        "name": "77",
                                        "type": "text",
                                        "label": "(BZ)"
                                    },
                                    {
                                        "name": "78",
                                        "type": "text",
                                        "label": "(CA)"
                                    },
                                    {
                                        "name": "79",
                                        "type": "text",
                                        "label": "(CB)"
                                    },
                                    {
                                        "name": "80",
                                        "type": "text",
                                        "label": "(CC)"
                                    },
                                    {
                                        "name": "81",
                                        "type": "text",
                                        "label": "(CD)"
                                    },
                                    {
                                        "name": "82",
                                        "type": "text",
                                        "label": "(CE)"
                                    },
                                    {
                                        "name": "83",
                                        "type": "text",
                                        "label": "(CF)"
                                    },
                                    {
                                        "name": "84",
                                        "type": "text",
                                        "label": "(CG)"
                                    },
                                    {
                                        "name": "85",
                                        "type": "text",
                                        "label": "(CH)"
                                    },
                                    {
                                        "name": "86",
                                        "type": "text",
                                        "label": "(CI)"
                                    },
                                    {
                                        "name": "87",
                                        "type": "text",
                                        "label": "(CJ)"
                                    },
                                    {
                                        "name": "88",
                                        "type": "text",
                                        "label": "(CK)"
                                    },
                                    {
                                        "name": "89",
                                        "type": "text",
                                        "label": "(CL)"
                                    },
                                    {
                                        "name": "90",
                                        "type": "text",
                                        "label": "(CM)"
                                    },
                                    {
                                        "name": "91",
                                        "type": "text",
                                        "label": "(CN)"
                                    },
                                    {
                                        "name": "92",
                                        "type": "text",
                                        "label": "(CO)"
                                    },
                                    {
                                        "name": "93",
                                        "type": "text",
                                        "label": "(CP)"
                                    },
                                    {
                                        "name": "94",
                                        "type": "text",
                                        "label": "(CQ)"
                                    },
                                    {
                                        "name": "95",
                                        "type": "text",
                                        "label": "(CR)"
                                    },
                                    {
                                        "name": "96",
                                        "type": "text",
                                        "label": "(CS)"
                                    },
                                    {
                                        "name": "97",
                                        "type": "text",
                                        "label": "(CT)"
                                    },
                                    {
                                        "name": "98",
                                        "type": "text",
                                        "label": "(CU)"
                                    },
                                    {
                                        "name": "99",
                                        "type": "text",
                                        "label": "(CV)"
                                    },
                                    {
                                        "name": "100",
                                        "type": "text",
                                        "label": "(CW)"
                                    },
                                    {
                                        "name": "101",
                                        "type": "text",
                                        "label": "(CX)"
                                    },
                                    {
                                        "name": "102",
                                        "type": "text",
                                        "label": "(CY)"
                                    },
                                    {
                                        "name": "103",
                                        "type": "text",
                                        "label": "(CZ)"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 34,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "rows",
                                "scope": "roundtrip",
                                "value": "{{33.`__ROW_NUMBER__`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 750
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "rows",
                                        "type": "any",
                                        "label": "rows"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 35,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 750,
                                    "name": "FLUJO PENDIENTES DE PAGO"
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 36,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "Hay Pendientes",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{33.`__IMTLENGTH__`}}",
                                                            "b": "0",
                                                            "o": "number:greater"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "array": "{{34.rows}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 600
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 37,
                                            "module": "telegram:SendReplyMessage",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 6372102
                                            },
                                            "filter": {
                                                "name": "haychatid",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{51.data.CHAT_ID}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "text": "Factura pendiente 👇\r\nServicio: {{33.`1`}}Concepto: {{33.`2`}}\nImporte: {{33.`3`}}\nid_transaccion: {{33.`7`}}\nLink de comprobante:{{33.`9`}}",
                                                "chatId": "5941269835",
                                                "parseMode": "",
                                                "replyMarkup": "{\r\n  \"inline_keyboard\": [\r\n    [\r\n      { \"text\": \"💵 Registrar pago\", \"callback_data\": \"pago:{{33.`7`}}\" }\r\n    ]\r\n  ]\r\n}\r\n",
                                                "messageThreadId": "",
                                                "replyToMessageId": "",
                                                "replyMarkupAssembleType": "reply_markup_enter"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2214,
                                                    "y": 620
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "parseMode": {
                                                            "label": "Empty"
                                                        },
                                                        "disableNotification": {
                                                            "mode": "chose"
                                                        },
                                                        "replyMarkupAssembleType": {
                                                            "label": "Enter the Reply Markup"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "telegram"
                                                            },
                                                            "label": "STAGE3"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:telegram",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "chatId",
                                                        "type": "text",
                                                        "label": "Chat ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "messageThreadId",
                                                        "type": "number",
                                                        "label": "Message Thread ID"
                                                    },
                                                    {
                                                        "name": "parseMode",
                                                        "type": "select",
                                                        "label": "Parse Mode",
                                                        "validate": {
                                                            "enum": [
                                                                "Markdown",
                                                                "HTML"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "disableNotification",
                                                        "type": "boolean",
                                                        "label": "Disable Notifications"
                                                    },
                                                    {
                                                        "name": "disableWebPagePreview",
                                                        "type": "boolean",
                                                        "label": "Disable Link Previews"
                                                    },
                                                    {
                                                        "name": "replyToMessageId",
                                                        "type": "number",
                                                        "label": "Original Message ID"
                                                    },
                                                    {
                                                        "name": "replyMarkupAssembleType",
                                                        "type": "select",
                                                        "label": "Enter/Assemble the Reply Markup Field",
                                                        "validate": {
                                                            "enum": [
                                                                "reply_markup_enter",
                                                                "reply_markup_assemble"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "replyMarkup",
                                                        "type": "text",
                                                        "label": "Reply Markup"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 48,
                                            "module": "datastore:UpdateRecord",
                                            "version": 1,
                                            "parameters": {
                                                "datastore": 62777
                                            },
                                            "mapper": {
                                                "key": "{{51.key}}",
                                                "data": {
                                                    "CHAT_ID": "",
                                                    "Solicita": "."
                                                },
                                                "upsert": true,
                                                "overwriteArrays": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2551,
                                                    "y": 624
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "upsert": {
                                                            "mode": "chose"
                                                        },
                                                        "overwriteArrays": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "CHAT_ID"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "upsert",
                                                        "type": "boolean",
                                                        "label": "Insert missing record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "overwriteArrays",
                                                        "type": "boolean",
                                                        "label": "Overwrite an existing array in the record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "spec": [
                                                            {
                                                                "name": "CHAT_ID",
                                                                "type": "number",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Solicita",
                                                                "type": "text",
                                                                "label": null
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 38,
                                            "module": "builtin:BasicAggregator",
                                            "version": 1,
                                            "parameters": {
                                                "feeder": 33
                                            },
                                            "filter": {
                                                "name": "No hay pendientes",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{33.`__IMTLENGTH__`}}",
                                                            "b": "0",
                                                            "o": "text:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "4": "{{33.`4`}}",
                                                "rows": "{{34.rows}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 900
                                                },
                                                "restore": {
                                                    "extra": {
                                                        "feeder": {
                                                            "label": "Google Sheets - Search Rows [14]"
                                                        },
                                                        "target": {
                                                            "label": "Custom"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "id": 39,
                                            "module": "telegram:SendReplyMessage",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 6372102
                                            },
                                            "filter": {
                                                "name": "Nohaychatid",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{51.data.CHAT_ID}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "text": "No hay más facturas de pago pendientes",
                                                "chatId": "5941269835",
                                                "parseMode": "",
                                                "replyMarkup": "",
                                                "messageThreadId": "",
                                                "replyToMessageId": "",
                                                "replyMarkupAssembleType": "reply_markup_enter"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2242,
                                                    "y": 908
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "parseMode": {
                                                            "label": "Empty"
                                                        },
                                                        "disableNotification": {
                                                            "mode": "chose"
                                                        },
                                                        "replyMarkupAssembleType": {
                                                            "label": "Enter the Reply Markup"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "telegram"
                                                            },
                                                            "label": "STAGE3"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:telegram",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "chatId",
                                                        "type": "text",
                                                        "label": "Chat ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "messageThreadId",
                                                        "type": "number",
                                                        "label": "Message Thread ID"
                                                    },
                                                    {
                                                        "name": "parseMode",
                                                        "type": "select",
                                                        "label": "Parse Mode",
                                                        "validate": {
                                                            "enum": [
                                                                "Markdown",
                                                                "HTML"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "disableNotification",
                                                        "type": "boolean",
                                                        "label": "Disable Notifications"
                                                    },
                                                    {
                                                        "name": "disableWebPagePreview",
                                                        "type": "boolean",
                                                        "label": "Disable Link Previews"
                                                    },
                                                    {
                                                        "name": "replyToMessageId",
                                                        "type": "number",
                                                        "label": "Original Message ID"
                                                    },
                                                    {
                                                        "name": "replyMarkupAssembleType",
                                                        "type": "select",
                                                        "label": "Enter/Assemble the Reply Markup Field",
                                                        "validate": {
                                                            "enum": [
                                                                "reply_markup_enter",
                                                                "reply_markup_assemble"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "replyMarkup",
                                                        "type": "text",
                                                        "label": "Reply Markup"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 49,
                                            "module": "datastore:UpdateRecord",
                                            "version": 1,
                                            "parameters": {
                                                "datastore": 62777
                                            },
                                            "mapper": {
                                                "key": "{{51.key}}",
                                                "data": {
                                                    "CHAT_ID": "",
                                                    "Solicita": "."
                                                },
                                                "upsert": true,
                                                "overwriteArrays": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2551,
                                                    "y": 924
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "upsert": {
                                                            "mode": "chose"
                                                        },
                                                        "overwriteArrays": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "CHAT_ID"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "upsert",
                                                        "type": "boolean",
                                                        "label": "Insert missing record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "overwriteArrays",
                                                        "type": "boolean",
                                                        "label": "Overwrite an existing array in the record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "spec": [
                                                            {
                                                                "name": "CHAT_ID",
                                                                "type": "number",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Solicita",
                                                                "type": "text",
                                                                "label": null
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 41,
                        "module": "datastore:GetRecord",
                        "version": 1,
                        "parameters": {
                            "datastore": 62777
                        },
                        "mapper": {
                            "key": "{{40.data.CHAT_ID}}",
                            "returnWrapped": false
                        },
                        "metadata": {
                            "designer": {
                                "x": 0,
                                "y": 1200,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Data store - Search records' [40] is not accessible."
                                    },
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "parameters": {
                                    "datastore": {
                                        "label": "CHAT_ID"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "datastore",
                                    "type": "datastore",
                                    "label": "Data store",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "returnWrapped",
                                    "type": "boolean",
                                    "label": "Return Wrapped Output",
                                    "required": true
                                }
                            ],
                            "interface": [
                                {
                                    "help": "chat id ultimo",
                                    "name": "CHAT_ID",
                                    "type": "number",
                                    "label": null,
                                    "default": null,
                                    "required": false
                                }
                            ]
                        },
                        "onerror": [
                            {
                                "id": 45,
                                "module": "builtin:Ignore",
                                "version": 1,
                                "metadata": {
                                    "designer": {
                                        "x": 300,
                                        "y": 1200
                                    }
                                }
                            }
                        ]
                    }
                ]
            ]
        },
        "zone": "us2.make.com",
        "notes": []
    }
}