real-estate-tool-transferir-humano.json
{
  "name": "Tool: Transferir Humano (Real Estate)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-400, 0],
      "id": "workflow-trigger-humano-001",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "sendTo": "={{ $env.ADMIN_EMAIL || 'admin@inmobiliaria.com' }}",
        "subject": "=🚨 Transferencia a Humano - Usuario: {{ $json.user_id }}",
        "emailType": "html",
        "message": "=<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f8f9fa;\">\n  <div style=\"background-color: #ffffff; padding: 30px; border-radius: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);\">\n    <h2 style=\"color: #dc3545; margin-top: 0;\">🚨 Transferencia a Asesor Humano</h2>\n    \n    <p>Se ha solicitado la intervención de un asesor humano en el chatbot de real estate.</p>\n    \n    <hr style=\"border: none; border-top: 1px solid #dee2e6; margin: 20px 0;\">\n    \n    <h3 style=\"color: #495057;\">Datos del Usuario:</h3>\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr>\n        <td style=\"padding: 8px 0; color: #6c757d;\"><strong>User ID:</strong></td>\n        <td style=\"padding: 8px 0;\">{{ $json.user_id }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px 0; color: #6c757d;\"><strong>Nombre:</strong></td>\n        <td style=\"padding: 8px 0;\">{{ $json.nombre || 'No proporcionado' }}</td>\n      </tr>\n    </table>\n    \n    <hr style=\"border: none; border-top: 1px solid #dee2e6; margin: 20px 0;\">\n    \n    <h3 style=\"color: #495057;\">Motivo de la Transferencia:</h3>\n    <div style=\"background-color: #f8f9fa; padding: 15px; border-radius: 5px; border-left: 4px solid #007bff;\">\n      <p style=\"margin: 0; white-space: pre-wrap;\">{{ $json.consulta }}</p>\n    </div>\n    \n    <hr style=\"border: none; border-top: 1px solid #dee2e6; margin: 20px 0;\">\n    \n    <h3 style=\"color: #495057;\">Acciones Requeridas:</h3>\n    <ul style=\"color: #495057;\">\n      <li>Revisar el historial de conversación del usuario</li>\n      <li>Contactar al usuario lo antes posible</li>\n      <li>Resolver la consulta o situación específica</li>\n    </ul>\n    \n    <p style=\"margin-top: 30px; color: #6c757d; font-size: 12px;\">\n      Fecha y hora: {{ $now.format('dd/MM/yyyy HH:mm:ss') }}<br>\n      Este email fue generado automáticamente por el sistema de AI Agent.\n    </p>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [0, -100],
      "id": "send-notification-email-001",
      "name": "Send Admin Notification"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || '' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"🚨 *Transferencia a Humano Solicitada*\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🚨 Transferencia a Humano\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*User ID:*\\n{{ $json.user_id }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Nombre:*\\n{{ $json.nombre || 'No proporcionado' }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Consulta:*\\n{{ $json.consulta }}\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"📅 {{ $now.format('dd/MM/yyyy HH:mm') }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 100],
      "id": "send-slack-notification-001",
      "name": "Send Slack Notification",
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response-humano",
              "name": "response",
              "value": "Entiendo, ya notifiqué a un asesor humano sobre tu caso. Un especialista se va a comunicar con vos a la brevedad para ayudarte con esta consulta específica. ¡Gracias por tu paciencia!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [300, 0],
      "id": "format-output-humano-001",
      "name": "Format Output"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Send Admin Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Admin Notification": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "tags": [
    {
      "name": "Real Estate"
    },
    {
      "name": "Tool"
    },
    {
      "name": "Notification"
    }
  ]
}
