workflow-a-email-receipt-processor.json
{
  "name": "Workflow A - Email Receipt Processor",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread",
          "receivedAfter": "={{ $now.minus({hours: 24}).toISO() }}"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "email-trigger",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "attachment-check",
              "leftValue": "={{ $json.attachments.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-attachments",
      "name": "Has Attachments?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "options": {}
      },
      "id": "split-attachments",
      "name": "Split Attachments",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [440, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-image-pdf",
              "leftValue": "={{ $json.attachments.mimeType }}",
              "rightValue": "image/|application/pdf",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-file-types",
      "name": "Is Image/PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.attachments.filename || 'receipt_' + $now.format('yyyyMMdd_HHmmss') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "options": {}
      },
      "id": "upload-drive",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [880, 100]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "get-drive-file",
      "name": "Get File from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-pdf",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-pdf",
      "name": "Is PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/to/jpg",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.webViewLink }}\",\n  \"pages\": \"1\",\n  \"async\": false\n}",
        "options": {}
      },
      "id": "pdf-to-image",
      "name": "PDF.co Convert to Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "modelId": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "Eres un experto en contabilidad digital. Analiza la imagen del comprobante y extrae datos financieros.\n\nDevuelve SOLO un objeto JSON valido con estos campos exactos:\n{\n\"FECHA DEL COBRO\": \"DD/MM/YYYY\",\n\"SERVICIO / COMERCIO\": \"\",\n\"CONCEPTO\": \"\",\n\"IMPORTE\": \"solo numero con coma decimal\",\n\"ID DE TRANSACCION\": \"\",\n\"CATEGORIA\": \"una de: Servicios Publicos, Transporte y Vehiculos, Seguros, Impuestos y Tasas, Personal y Educacion, Salud y Bienestar, Consumo y Alimentos, Otros Gastos, Vivienda y Comunidad\",\n\"TIPO DE GASTO\": \"Unico o Recurrente\",\n\"ORIGEN DEL COBRO\": \"\"\n}\n\nSi un dato no esta disponible, deja el campo vacio. Solo devuelve el JSON."
            }
          ]
        },
        "options": {
          "maxTokens": 2048,
          "temperature": 0.3
        }
      },
      "id": "openai-analyze-image",
      "name": "OpenAI Analyze Receipt",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1760, 100]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.message?.content || $input.first().json.text || '';\n\nlet parsedData;\ntry {\n  const jsonMatch = response.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    parsedData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found in response');\n  }\n} catch (error) {\n  parsedData = {\n    \"FECHA DEL COBRO\": \"\",\n    \"SERVICIO / COMERCIO\": \"\",\n    \"CONCEPTO\": \"\",\n    \"IMPORTE\": \"\",\n    \"ID DE TRANSACCION\": \"\",\n    \"CATEGORIA\": \"\",\n    \"TIPO DE GASTO\": \"\",\n    \"ORIGEN DEL COBRO\": \"\",\n    \"parseError\": error.message\n  };\n}\n\nlet transactionId = parsedData[\"ID DE TRANSACCION\"] || '';\nif (!transactionId) {\n  const fecha = parsedData[\"FECHA DEL COBRO\"] || '';\n  const importe = parsedData[\"IMPORTE\"] || '0';\n  \n  let dateStr = '';\n  if (fecha) {\n    const parts = fecha.split('/');\n    if (parts.length === 3) {\n      dateStr = parts[2] + parts[1].padStart(2, '0') + parts[0].padStart(2, '0');\n    }\n  }\n  if (!dateStr) {\n    const now = new Date();\n    dateStr = now.getFullYear().toString() + \n              (now.getMonth() + 1).toString().padStart(2, '0') + \n              now.getDate().toString().padStart(2, '0');\n  }\n  \n  const normalizedAmount = importe.replace(/[^0-9]/g, '').padStart(9, '0').slice(-9);\n  transactionId = dateStr + normalizedAmount;\n}\n\nreturn {\n  json: {\n    ...parsedData,\n    \"ID_INTERNO\": transactionId,\n    \"FECHA_CREACION\": new Date().toISOString(),\n    \"driveFileId\": $('Upload to Google Drive').first().json.id,\n    \"driveWebLink\": $('Upload to Google Drive').first().json.webViewLink,\n    \"sourceEmail\": $('Email Trigger (IMAP)').first().json.from?.value?.[0]?.address || 'unknown'\n  }\n};"
      },
      "id": "parse-json-response",
      "name": "Parse JSON & Generate ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM expense_records WHERE id_transaccion = '{{ $json.ID_INTERNO }}' LIMIT 1"
      },
      "id": "check-duplicate-db",
      "name": "Check Duplicate in Database",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2200, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-new",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-new-record",
      "name": "Is New Record?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2420, 100]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "expense_records",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {"fieldName": "id_transaccion", "fieldValue": "={{ $('Parse JSON & Generate ID').first().json.ID_INTERNO }}"},
            {"fieldName": "fecha_cobro", "fieldValue": "={{ $('Parse JSON & Generate ID').first().json['FECHA DEL COBRO'] }}"},
            {"fieldName": "servicio_comercio", "fieldValue": "={{ $('Parse JSON & Generate ID').first().json['SERVICIO / COMERCIO'] }}"},
            {"fieldName": "concepto", "fieldValue": "={{ $('Parse JSON & Generate ID').first().json.CONCEPTO }}"},
            {"fieldName": "importe", "fieldValue": "={{ $('Parse JSON & Generate ID').first().json.IMPORTE }}"},
            {"fieldName": "categoria", "fieldValue": "={{ $('Parse JSON & Generate ID').first().json.CATEGORIA }}"},
            {"fieldName": "tipo_gasto", "fieldValue": "={{ $('Parse JSON & Generate ID').first().json['TIPO DE GASTO'] }}"},
            {"fieldName": "link_archivo", "fieldValue": "={{ $('Parse JSON & Generate ID').first().json.driveWebLink }}"},
            {"fieldName": "fecha_creacion", "fieldValue": "={{ $now.toISO() }}"},
            {"fieldName": "origen_registro", "fieldValue": "email"}
          ]
        }
      },
      "id": "insert-to-database",
      "name": "Insert to Database",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2640, 0]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "REGISTRO DE GASTOS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FECHA DEL COBRO": "={{ $('Parse JSON & Generate ID').first().json['FECHA DEL COBRO'] }}",
            "SERVICIO / COMERCIO": "={{ $('Parse JSON & Generate ID').first().json['SERVICIO / COMERCIO'] }}",
            "CONCEPTO": "={{ $('Parse JSON & Generate ID').first().json.CONCEPTO }}",
            "IMPORTE": "={{ $('Parse JSON & Generate ID').first().json.IMPORTE }}",
            "ID INTERNO (NO TOCAR)": "={{ $('Parse JSON & Generate ID').first().json.ID_INTERNO }}",
            "CATEGORIA": "={{ $('Parse JSON & Generate ID').first().json.CATEGORIA }}",
            "TIPO DE GASTO": "={{ $('Parse JSON & Generate ID').first().json['TIPO DE GASTO'] }}",
            "Link de archivo": "={{ $('Parse JSON & Generate ID').first().json.driveWebLink }}",
            "Usuario Ingreso": "Email"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "add-to-sheets",
      "name": "Add to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2860, 0]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Email Trigger (IMAP)').first().json.from?.value?.[0]?.address }}",
        "subject": "Gasto Registrado: {{ $('Parse JSON & Generate ID').first().json['SERVICIO / COMERCIO'] }}",
        "emailType": "html",
        "message": "<h2>Gasto Registrado</h2><p>Comercio: {{ $('Parse JSON & Generate ID').first().json['SERVICIO / COMERCIO'] }}</p><p>Importe: ${{ $('Parse JSON & Generate ID').first().json.IMPORTE }}</p><p>ID: {{ $('Parse JSON & Generate ID').first().json.ID_INTERNO }}</p>",
        "options": {}
      },
      "id": "send-confirmation-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [3080, 0]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Email Trigger (IMAP)').first().json.from?.value?.[0]?.address }}",
        "subject": "Gasto Duplicado Detectado",
        "emailType": "html",
        "message": "<h2>Registro Duplicado</h2><p>El gasto ya existe en el sistema.</p><p>ID: {{ $('Parse JSON & Generate ID').first().json.ID_INTERNO }}</p>",
        "options": {}
      },
      "id": "send-duplicate-email",
      "name": "Send Duplicate Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2640, 200]
    },
    {
      "parameters": {},
      "id": "no-attachments-end",
      "name": "No Attachments - End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [440, 400]
    },
    {
      "parameters": {},
      "id": "non-receipt-end",
      "name": "Non-Receipt File - End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.urls[0] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-converted-pdf",
      "name": "Download Converted Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 100]
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [[{"node": "Has Attachments?", "type": "main", "index": 0}]]
    },
    "Has Attachments?": {
      "main": [
        [{"node": "Split Attachments", "type": "main", "index": 0}],
        [{"node": "No Attachments - End", "type": "main", "index": 0}]
      ]
    },
    "Split Attachments": {
      "main": [[{"node": "Is Image/PDF?", "type": "main", "index": 0}]]
    },
    "Is Image/PDF?": {
      "main": [
        [{"node": "Upload to Google Drive", "type": "main", "index": 0}],
        [{"node": "Non-Receipt File - End", "type": "main", "index": 0}]
      ]
    },
    "Upload to Google Drive": {
      "main": [[{"node": "Get File from Drive", "type": "main", "index": 0}]]
    },
    "Get File from Drive": {
      "main": [[{"node": "Is PDF?", "type": "main", "index": 0}]]
    },
    "Is PDF?": {
      "main": [
        [{"node": "PDF.co Convert to Image", "type": "main", "index": 0}],
        [{"node": "OpenAI Analyze Receipt", "type": "main", "index": 0}]
      ]
    },
    "PDF.co Convert to Image": {
      "main": [[{"node": "Download Converted Image", "type": "main", "index": 0}]]
    },
    "Download Converted Image": {
      "main": [[{"node": "OpenAI Analyze Receipt", "type": "main", "index": 0}]]
    },
    "OpenAI Analyze Receipt": {
      "main": [[{"node": "Parse JSON & Generate ID", "type": "main", "index": 0}]]
    },
    "Parse JSON & Generate ID": {
      "main": [[{"node": "Check Duplicate in Database", "type": "main", "index": 0}]]
    },
    "Check Duplicate in Database": {
      "main": [[{"node": "Is New Record?", "type": "main", "index": 0}]]
    },
    "Is New Record?": {
      "main": [
        [{"node": "Insert to Database", "type": "main", "index": 0}],
        [{"node": "Send Duplicate Email", "type": "main", "index": 0}]
      ]
    },
    "Insert to Database": {
      "main": [[{"node": "Add to Google Sheets", "type": "main", "index": 0}]]
    },
    "Add to Google Sheets": {
      "main": [[{"node": "Send Confirmation Email", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "instanceId": ""
  }
}
