templates/telegram-bot-basic.json
{
  "name": "Telegram Bot - Basic Command Handler",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "callback_query"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "webhookId": "telegram-bot",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "Start Command"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "Help Command"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query?.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "Callback Query"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "Photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "Text Message"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route-message",
      "name": "Route Message",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [220, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message?.chat?.id }}",
        "text": "=Welcome! I'm your assistant bot.\n\nAvailable commands:\n/start - Start the bot\n/help - Show help menu\n\nYou can also:\n- Send photos\n- Send text messages",
        "additionalFields": {
          "appendAttribution": false,
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Option 1",
                      "additionalFields": {
                        "callbackData": "option_1"
                      }
                    },
                    {
                      "text": "Option 2",
                      "additionalFields": {
                        "callbackData": "option_2"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Get Help",
                      "additionalFields": {
                        "callbackData": "help"
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      "id": "welcome-message",
      "name": "Welcome Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, 0],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message?.chat?.id }}",
        "text": "=*Help Menu*\n\nHere's what I can do:\n\n*Commands:*\n/start - Initialize the bot\n/help - Show this menu\n\n*Features:*\n- Process photos you send\n- Respond to text messages\n- Interactive buttons\n\nNeed more help? Contact support.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "help-message",
      "name": "Help Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, 150],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse callback data\nconst callbackData = $input.first().json.callback_query?.data || '';\nconst chatId = $input.first().json.callback_query?.message?.chat?.id;\nconst messageId = $input.first().json.callback_query?.message?.message_id;\nconst callbackId = $input.first().json.callback_query?.id;\n\nlet response = '';\nswitch(callbackData) {\n  case 'option_1':\n    response = 'You selected Option 1!';\n    break;\n  case 'option_2':\n    response = 'You selected Option 2!';\n    break;\n  case 'help':\n    response = 'Use /help for detailed information.';\n    break;\n  default:\n    response = 'Unknown option: ' + callbackData;\n}\n\nreturn {\n  json: {\n    chatId,\n    messageId,\n    callbackId,\n    callbackData,\n    response\n  }\n};"
      },
      "id": "parse-callback",
      "name": "Parse Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "callback-response",
      "name": "Callback Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [720, 300],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message?.chat?.id }}",
        "text": "=I received your photo! Processing...\n\nPhoto details:\n- File ID: {{ $json.message?.photo?.slice(-1)[0]?.file_id?.slice(0, 20) }}...\n- Size: {{ $json.message?.photo?.slice(-1)[0]?.width }}x{{ $json.message?.photo?.slice(-1)[0]?.height }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "photo-received",
      "name": "Photo Received",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, 450],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message?.chat?.id }}",
        "text": "=You said: \"{{ $json.message?.text }}\"\n\nI received your message! For available commands, use /help",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "text-response",
      "name": "Text Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, 600],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Route Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Message": {
      "main": [
        [
          {
            "node": "Welcome Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Help Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Photo Received",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          {
            "node": "Callback Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "telegram",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "bot",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-29T00:00:00.000Z",
  "versionId": "1"
}
